<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header">
            <h4 class="title">Faculty Manager</h4>
          </div>
          <div class="card-content">
            <div class="col-md-4">
              <form [formGroup]="facultyForm" (ngSubmit)="submitFacultyForm()">
                <div class="row">
                  <div class="col-md-12">
                    <div class="form-group form-black label-floating is-empty">
                      <label class="control-label">Faculty Name</label>
                      <input type="text" class="form-control" formControlName="facultyName">
                    </div>
                  </div>
                </div>
                <div class="row" formArrayName="facultyWiseClasses">
                    <div *ngFor="let itemrow of facultyForm.controls.facultyWiseClasses.controls; let i=index"  [formGroupName]="i">
                      <div class="col-md-8">
                       <div class="form-group form-black label-floating is-empty">
                            <label class="control-label">Faculty Wise Classes</label>
                            <input type="text" class="form-control" formControlName="faculties">
                         </div>
                       </div>
                       <div class="col-md-4">
                           <a (click)=addFaculty()><i class="fa fa-plus"></i></a>
                           <a *ngIf="facultyForm.controls.facultyWiseClasses.controls.length > 1" (click)=removeFaculty(i)><i class="fa fa-minus"></i></a>
                       </div>
                    </div>
                </div>
                <div class="row">
                  <div class="col-md-12">
                    <div class="form-group form-black label-floating is-empty">
                      <label class="control-label">Start At</label>
                      <input type="time" class="form-control" formControlName="start_at">
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12">
                    <div class="form-group form-black label-floating is-empty">
                      <label class="control-label">End At</label>
                      <input type="time" class="form-control" formControlName="end_at">
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12">
                    <button type="submit" class="btn btn-danger pull-right">Add Faculty</button>
                  </div>
                </div>
              </form>
            </div>
            <div class="col-md-8">
              <div class="card-content table-responsive">
                <table class="table table-hover">
                  <thead>
                    <tr>
                      <th>ID</th>
                      <th>Name</th>
                      <th>Start At</th>
                      <th>End At</th>
                      <th>Control</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let faculty of facultyLists;let i =index">
                      <td>{{i+1}}</td>
                      <td>{{faculty.name}}</td>
                      <td>{{faculty.start_at}}</td>
                      <td>{{faculty.end_at}}</td>
                      <td>
                        <button class="btn btn-danger pull-right" (click)="deleteFaculty(i)">
                          <i class="fa fa-trash" aria-hidden="true"></i>
                        </button>
                        <button class="btn btn-primary pull-right" (click)="editFaculty(i)">
                          <i class="fa fa-pencil" aria-hidden="true"></i>
                        </button>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> 
<pre>{{facultyForm.value | json}}</pre>

<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Delete Faculty Modal</h4>
            </div>
            <div class="modal-body">
                <p>Do you really want to Delete?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" (click)="deleteFacultyModel()">Yes</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="myupdateModal" role="dialog">
  <div class="modal-dialog modal-sm">
      <div class="modal-content">
          <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
              <h4 class="modal-title">Delete Faculty Modal</h4>
          </div>
          <div class="modal-body" *ngIf="updatefacultyForm">
              <form [formGroup]="updatefacultyForm" (ngSubmit)="updateFacultyForm()">
                  <div class="row">
                    <div class="col-md-12">
                      <div class="form-group form-black label-floating is-empty">
                        <!-- <label class="control-label">Faculty Name</label> -->
                        <input type="text" class="form-control" formControlName="updatefacultyName">
                      </div>
                    </div>
                  </div>
                  <div class="row" formArrayName="updatefacultyWiseClasses">
                      <div *ngFor="let itemrow of updateFacultyLists; let i=index" [formGroupName]="i">
                        <div class="col-md-8">
                         <div class="form-group form-black label-floating is-empty">
                              <!-- <label class="control-label">Faculty Wise Classes</label> -->
                              <input type="text" class="form-control" formControlName="update_faculties">
                           </div>
                         </div>
                         <div class="col-md-4">
                             <a (click)=updateaddFaculty()><i class="fa fa-plus"></i></a>
                             <a *ngIf="updateFacultyLists.length > 1" (click)=updateremoveFaculty(i)><i class="fa fa-minus"></i></a>
                         </div>
                      </div>
                  </div>
                  <div class="row">
                    <div class="col-md-12">
                      <div class="form-group form-black label-floating is-empty">
                        <!-- <label class="control-label">Start At</label> -->
                        <input type="time" class="form-control" formControlName="update_start_at">
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-12">
                      <div class="form-group form-black label-floating is-empty">
                        <!-- <label class="control-label">End At</label> -->
                        <input type="time" class="form-control" formControlName="update_end_at">
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-12">
                      <button type="submit" class="btn btn-danger pull-right">Add Faculty</button>
                    </div>
                  </div>
                </form>
          </div>
          <div class="modal-footer">
              <button type="button" class="btn btn-danger" (click)="deleteFacultyModel()">Yes</button>
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
      </div>
  </div>
</div>