
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
@import '~angular-tree-component/dist/angular-tree-component.css';
@import "~@ng-select/ng-select/themes/material.theme.css";


/* body { 
  font-family: Roboto, Arial, sans-serif;
  margin: 0;
}

.basic-container {
  padding: 5px;
}

.version-info {
  font-size: 8pt;
  float: right;
} */
.sidebar .nav p {
  margin: 0;
  line-height: 24px;
  font-size: 14px;
}
.main-panel .main-content {
  margin-top: 35px;
  padding: 29px 4px;
  min-height: calc(100% - 123px);
}
.nav li div.active a {
  background-color: #9c27b0;
  -webkit-box-shadow: 0 12px 20px -10px rgba(244,67,54,.28), 0 4px 20px 0 rgba(0,0,0,.12), 0 7px 8px -5px rgba(244,67,54,.2);
  box-shadow: 0 12px 20px -10px rgba(244,67,54,.28), 0 4px 20px 0 rgba(0,0,0,.12), 0 7px 8px -5px rgba(244,67,54,.2);
}
.btn{
  height: 37px;
}
.form-group {
  padding-bottom: 1px;
  margin: 10px 0px 0 0;
}
.mat-tab-label{
  height: 37px;
  padding: 0 20px;
  cursor: pointer;
  box-sizing: border-box;
  opacity: .6;
  min-width: 124px;
  text-align: center;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  white-space: nowrap;
  position: relative;
}
.ngx-image-editor-component .dialog-crop-container {
  width: 657px !important;
  height: 288px !important;
  overflow: hidden;
}
/* .img-ul-container{
  display: none;
} */
.crop-box-header h3 button {
  display:none;
} 