<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <mat-tab-group (selectedTabChange)="onLinkClick($event)">
                        <mat-tab label="College">
                            <mat-tab-group>
                                <mat-tab *ngFor="let x of collegeStudentLists" label={{x.faculty.name}}>
                                    <mat-tab-group>
                                        <mat-tab *ngFor="let batch of x.batch_list" label={{batch.name}}>
                                            <div class="col-md-4" style="margin-top:24px;" *ngFor="let student of batch.students;let i =index">
                                                <div class="card card-profile">
                                                    <div *ngIf="student.image" class="card-avatar">
                                                        <a>
                                                            <img class="img" [src]="student.image" />
                                                        </a>
                                                    </div>
                                                    <div class="card-avatar" *ngIf="!student.image">
                                                        <a>
                                                            <img class="img" src="assets/img/tim_80x80.png" />
                                                        </a>
                                                    </div>
                                                    <div class="content">
                                                        <h4 class="card-title">{{student.first_name}} {{student.middle_name}} {{student.last_name}}</h4>
                                                        <a class="btn btn-primary btn-round" (click)="editstudent(batch.name,student.user_id)">
                                                            <i class="fa fa-2x fa-pencil"></i>
                                                        </a>
                                                        <a class="btn btn-primary btn-round">
                                                            <i class="fa fa-2x fa-lock"></i>
                                                        </a>
                                                        <a class="btn btn-primary btn-round">
                                                            <i class="fa fa-2x fa-ban"></i>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </mat-tab>
                                    </mat-tab-group>
                                </mat-tab>
                            </mat-tab-group>
                        </mat-tab>
                        <mat-tab label="School">
                            <mat-tab-group>
                                <mat-tab *ngFor="let school of schoolStudentLists;let i =index" label={{school.class}}>         
                                            <div *ngFor="let x of school.students">
                                                <div *ngFor="let y of x">
                                                    <div class="col-md-4" style="margin-top:24px;">
                                                        <div class="card card-profile">
                                                            <div *ngIf="y.image" class="card-avatar">
                                                                <a>
                                                                    <img class="img" [src]="y.image" />
                                                                </a>
                                                            </div>
                                                            <div class="card-avatar" *ngIf="!y.image">
                                                                <a>
                                                                    <img class="img" src="assets/img/tim_80x80.png" />
                                                                </a>
                                                            </div>
                                                            <div class="content">
                                                                <!-- <h6 class="category text-gray">CEO / Co-Founder</h6> -->
                                                                <h4 class="card-title">{{y.first_name}} {{y.middle_name}} {{y.last_name}}</h4>
                                                                <a class="btn btn-primary btn-round" (click)="editSchoolStudent(school.class,y.user_id)">
                                                                    <i class="fa fa-2x fa-pencil"></i>
                                                                </a>
                                                                <a class="btn btn-primary btn-round">
                                                                    <i class="fa fa-2x fa-lock"></i>
                                                                </a>
                                                                <a class="btn btn-primary btn-round">
                                                                    <i class="fa fa-2x fa-ban"></i>
                                                                </a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                </mat-tab>
                            </mat-tab-group> 
                        </mat-tab>
                        <mat-tab label="Teacher">
                            <div class="col-md-4" style="margin-top:24px;" *ngFor="let teacher of teacherLists;let i =index">
                                <div class="card card-profile">
                                    <div *ngIf="teacher.image" class="card-avatar">
                                        <a>
                                            <img class="img" [src]="teacher.image" />
                                        </a>
                                    </div>
                                    <div class="card-avatar" *ngIf="!teacher.image">
                                        <a>
                                            <img class="img" src="assets/img/tim_80x80.png" />
                                        </a>
                                    </div>
                                    <div class="content">
                                        <!-- <h6 class="category text-gray">CEO / Co-Founder</h6> -->
                                        <h4 class="card-title">{{teacher.first_name}} {{teacher.middle_name}} {{teacher.last_name}}</h4>
                                        <a class="btn btn-primary btn-round" (click)="editTeacher(teacher.user_id)">
                                            <i class="fa fa-2x fa-pencil"></i>
                                        </a>
                                        <a class="btn btn-primary btn-round">
                                            <i class="fa fa-2x fa-lock"></i>
                                        </a>
                                        <a class="btn btn-primary btn-round">
                                            <i class="fa fa-2x fa-ban"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </mat-tab>
                        <mat-tab label="Guest">
                            <div class="col-md-4" style="margin-top:24px;" *ngFor="let guest of guestLists;let i =index">
                                <div class="card card-profile">
                                    <div *ngIf="guest.image" class="card-avatar">
                                        <a>
                                            <img class="img" [src]="guest.image" />
                                        </a>
                                    </div>
                                    <div class="card-avatar" *ngIf="!guest.image">
                                        <a>
                                            <img class="img" src="assets/img/tim_80x80.png" />
                                        </a>
                                    </div>
                                    <div class="content">
                                        <!-- <h6 class="category text-gray">CEO / Co-Founder</h6> -->
                                        <h4 class="card-title">{{guest.first_name}} {{guest.middle_name}} {{guest.last_name}}</h4>
                                        <a class="btn btn-primary btn-round" (click)="editGuest(guest.user_id)">
                                            <i class="fa fa-2x fa-pencil"></i>
                                        </a>
                                        <a class="btn btn-primary btn-round">
                                            <i class="fa fa-2x fa-lock"></i>
                                        </a>
                                        <a class="btn btn-primary btn-round">
                                            <i class="fa fa-2x fa-ban"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </mat-tab>
                    </mat-tab-group>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Modal Header</h4>
            </div>
            <div class="modal-body">
                <div class="card-content">
                    <form [formGroup]="studentForm" (ngSubmit)="submitStudentForm()">
                        <div class="row">
                            <div class="col-md-6" [ngClass]="{'has-error': studentForm.controls.userName.invalid && studentForm.controls.userName.dirty,
                                'has-success': studentForm.controls.userName.valid && !studentForm.controls.userName.dirty }">
                                <div class="form-group form-black label-floating is-empty">
                                    <label class="control-label">Username</label>
                                    <input type="text" class="form-control" formControlName="userName">
                                </div>
                            </div>
                            <div class="col-md-6" [ngClass]="{'has-error': studentForm.controls.email.invalid && studentForm.controls.email.dirty,
                                'has-success': studentForm.controls.email.valid && !studentForm.controls.email.dirty }">
                                <div class="form-group form-black label-floating is-empty">
                                    <label class="control-label">Email</label>
                                    <input type="email" class="form-control" formControlName="email">
                                </div>
                                <div *ngIf="emailTest">
                                    <p style="color: red;font-size: 10px;">Email Already Existed!</p>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4" [ngClass]="{'has-error': studentForm.controls.firstName.invalid && studentForm.controls.firstName.dirty,
                                'has-success': studentForm.controls.firstName.valid && !studentForm.controls.firstName.dirty }">
                                <div class="form-group form-black label-floating is-empty">
                                    <label class="control-label">First Name</label>
                                    <input type="text" class="form-control" formControlName="firstName">
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group form-black label-floating is-empty">
                                    <label class="control-label">Middle Name</label>
                                    <input type="text" class="form-control" formControlName="middleName">
                                </div>
                            </div>
                            <div class="col-md-4" [ngClass]="{'has-error': studentForm.controls.lastName.invalid && studentForm.controls.lastName.dirty,
                                'has-success': studentForm.controls.lastName.valid && !studentForm.controls.lastName.dirty }">
                                <div class="form-group form-black label-floating is-empty">
                                    <label class="control-label">Last Name</label>
                                    <input type="text" class="form-control" formControlName="lastName">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6" [ngClass]="{'has-error': studentForm.controls.joinDate.invalid && studentForm.controls.joinDate.dirty,
                                'has-success': studentForm.controls.joinDate.valid && !studentForm.controls.joinDate.dirty }">
                                <div class="form-group form-black label-floating is-empty">
                                    <mat-form-field class="example-full-width">
                                        <input matInput [matDatepicker]="joinDate" formControlName="joinDate" placeholder="Joining Date">
                                        <mat-datepicker-toggle matSuffix [for]="joinDate">
                                            <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
                                        </mat-datepicker-toggle>
                                        <mat-datepicker #joinDate></mat-datepicker>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group form-black label-floating is-empty">
                                    <mat-radio-group formControlName="gender">
                                        <mat-radio-button value="0">Femaile</mat-radio-button>
                                        <mat-radio-button value="1">Male</mat-radio-button>
                                    </mat-radio-group>
                                </div>
                            </div>
                        </div>
                        <div class="row" [ngClass]="{'has-error': studentForm.controls.parmanentAddress.invalid && studentForm.controls.parmanentAddress.dirty,
                            'has-success': studentForm.controls.parmanentAddress.valid && !studentForm.controls.parmanentAddress.dirty }">
                            <div class="col-md-6">
                                <div class="form-group form-black label-floating is-empty">
                                    <label class="control-label">Parmanent Address</label>
                                    <input type="text" class="form-control" formControlName="parmanentAddress">
                                </div>
                            </div>
                            <div class="col-md-6" [ngClass]="{'has-error': studentForm.controls.currentAddress.invalid && studentForm.controls.currentAddress.dirty,
                                'has-success': studentForm.controls.currentAddress.valid && !studentForm.controls.currentAddress.dirty }">
                                <div class="form-group form-black label-floating is-empty">
                                    <label class="control-label">Current Address</label>
                                    <input type="text" class="form-control" formControlName="currentAddress">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6" [ngClass]="{'has-error': studentForm.controls.symbolNumber.invalid && studentForm.controls.symbolNumber.dirty,
                                'has-success': studentForm.controls.symbolNumber.valid && !studentForm.controls.symbolNumber.dirty }">
                                <div class="form-group form-black label-floating is-empty">
                                    <label class="control-label">Symbol Number</label>
                                    <input type="Number" class="form-control" formControlName="symbolNumber">
                                </div>
                            </div>
                            <div class="col-md-6" [ngClass]="{'has-error': studentForm.controls.registrationNumber.invalid && studentForm.controls.registrationNumber.dirty,
                                'has-success': studentForm.controls.registrationNumber.valid && !studentForm.controls.registrationNumber.dirty }">
                                <div class="form-group form-black label-floating is-empty">
                                    <label class="control-label">Registration Number</label>
                                    <input type="Number" class="form-control" formControlName="registrationNumber">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6" [ngClass]="{'has-error': studentForm.controls.department.invalid && studentForm.controls.department.dirty,
                                'has-success': studentForm.controls.department.valid && !studentForm.controls.department.dirty }">
                                <div class="form-group form-black label-floating is-empty">
                                    <ng-select [items]="facultyLists" bindLabel="name" placeholder="Select Faculty" formControlName="department">
                                    </ng-select>
                                </div>
                            </div>
                            <div *ngIf="check" class="col-md-6">
                                <div class="col-md-6" [ngClass]="{'has-error': studentForm.controls.batch.invalid && studentForm.controls.batch.dirty,
                                        'has-success': studentForm.controls.batch.valid && !studentForm.controls.batch.dirty }">
                                    <div class="form-group form-black label-floating is-empty">
                                        <ng-select [items]="yearLists" bindLabel="batch" placeholder="Select year" formControlName="year">
                                        </ng-select>
                                    </div>
                                </div>
                                <div class="col-md-6" [ngClass]="{'has-error': studentForm.controls.batch.invalid && studentForm.controls.batch.dirty,
                                        'has-success': studentForm.controls.batch.valid && !studentForm.controls.batch.dirty }">
                                    <div class="form-group form-black label-floating is-empty">
                                        <ng-select [items]="classes" bindLabel="faculties" placeholder="Select Class" formControlName="class">
                                        </ng-select>
                                    </div>
                                </div>
                            </div>
                            <div *ngIf="!check">
                                <div class="col-md-6" [ngClass]="{'has-error': studentForm.controls.batch.invalid && studentForm.controls.batch.dirty,
                                        'has-success': studentForm.controls.batch.valid && !studentForm.controls.batch.dirty }">
                                    <div class="form-group form-black label-floating is-empty">
                                        <ng-select [items]="batchLists" bindLabel="batch" placeholder="Select Batch" formControlName="batch">
                                        </ng-select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6" [ngClass]="{'has-error': studentForm.controls.mobileNumber.invalid && studentForm.controls.mobileNumber.dirty,
                                'has-success': studentForm.controls.mobileNumber.valid && !studentForm.controls.mobileNumber.dirty }">
                                <div class="form-group form-black label-floating is-empty">
                                    <label class="control-label">Mobile Number</label>
                                    <input type="Number" class="form-control" formControlName="mobileNumber">
                                </div>
                            </div>
                            <div class="col-md-6" [ngClass]="{'has-error': studentForm.controls.phoneNumber.invalid && studentForm.controls.phoneNumber.dirty,
                                'has-success': studentForm.controls.phoneNumber.valid && !studentForm.controls.phoneNumber.dirty }">
                                <div class="form-group form-black label-floating is-empty">
                                    <label class="control-label">Phone Number</label>
                                    <input type="Number" class="form-control" formControlName="phoneNumber">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <input type="file" (change)="fileChangeEvent($event)" />
                                <div>
                                    <image-cropper [imageChangedEvent]="imageChangedEvent" 
                                     [maintainAspectRatio]="true"
                                     [aspectRatio]="4 / 3" 
                                     [resizeToWidth]="128"
                                     format="png"
                                     (imageCropped)="imageCropped($event)"
                                     (imageLoaded)="imageLoaded()" 
                                     (loadImageFailed)="loadImageFailed()"
                                     style="max-height: 33vh" 
                                     [style.display]="cropperReady ? null : 'none'"></image-cropper>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-8" style="float:right;" >
                                <div *ngIf="studentimage" class="card-avatar">
                                     <a>
                                        <img class="img" [src]="studentimage" />
                                     </a>
                               </div>
                                <div class="card-avatar" *ngIf="!studentimage">
                                    <a>
                                        <img class="img" src="assets/img/tim_80x80.png" />
                                    </a>
                                 </div>
                            </div>
                        </div>
                        <!-- <div class="row">
                            <div class="col-md-6">
                                <div class="form-group form-black label-floating is-empty">
                                    <mat-radio-group formControlName="parentCheck">
                                        <mat-radio-button value="0">Exiting</mat-radio-button>
                                        <mat-radio-button value="1">New</mat-radio-button>
                                    </mat-radio-group>
                                </div>
                            </div>
                        </div> -->
                        <!-- <div *ngIf="newParent"> -->
                            <h5>Parents Details</h5>
                            <div class="row">
                                <div class="col-md-4" [ngClass]="{'has-error': studentForm.controls.parentFirstName.invalid && studentForm.controls.parentFirstName.dirty,
                                    'has-success': studentForm.controls.parentFirstName.valid && !studentForm.controls.parentFirstName.dirty }">
                                    <div class="form-group form-black label-floating is-empty">
                                        <label class="control-label">First Name</label>
                                        <input type="text" class="form-control" formControlName="parentFirstName">
                                    </div>
                                </div>
                                <div class="col-md-4" [ngClass]="{'has-error': studentForm.controls.parentMiddleName.invalid && studentForm.controls.parentMiddleName.dirty,
                                    'has-success': studentForm.controls.parentMiddleName.valid && !studentForm.controls.parentMiddleName.dirty }">
                                    <div class="form-group form-black label-floating is-empty">
                                        <label class="control-label">Moddle Name</label>
                                        <input type="text" class="form-control" formControlName="parentMiddleName">
                                    </div>
                                </div>
                                <div class="col-md-4" [ngClass]="{'has-error': studentForm.controls.parentLastName.invalid && studentForm.controls.parentLastName.dirty,
                                    'has-success': studentForm.controls.parentLastName.valid && !studentForm.controls.parentLastName.dirty }">
                                    <div class="form-group form-black label-floating is-empty">
                                        <label class="control-label">Last Name</label>
                                        <input type="text" class="form-control" formControlName="parentLastName">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4" [ngClass]="{'has-error': studentForm.controls.parentMobile.invalid && studentForm.controls.parentMobile.dirty,
                                    'has-success': studentForm.controls.parentMobile.valid && !studentForm.controls.parentMobile.dirty }">
                                    <div class="form-group form-black label-floating is-empty">
                                        <label class="control-label"> Mobile Number</label>
                                        <input type="Number" class="form-control" formControlName="parentMobile">
                                    </div>
                                </div>
                                <div class="col-md-4" [ngClass]="{'has-error': studentForm.controls.parentEmail.invalid && studentForm.controls.parentEmail.dirty,
                                    'has-success': studentForm.controls.parentEmail.valid && !studentForm.controls.parentEmail.dirty }">
                                    <div class="form-group form-black label-floating is-empty">
                                        <label class="control-label">Email</label>
                                        <input type="email" class="form-control" formControlName="parentEmail">
                                    </div>
                                    <div *ngIf="emailparentTest">
                                        <p style="color: red;font-size: 10px;">Email Already Existed!</p>
                                    </div>
                                </div>
                            </div>
                        <!-- </div> -->
                        <!-- <div *ngIf="exitingParent">
                            <div class="col-md-6" [ngClass]="{'has-error': studentForm.controls.parent_id.invalid && studentForm.controls.parent_id.dirty,
                                'has-success': studentForm.controls.parent_id.valid && !studentForm.controls.parent_id.dirty }">
                                <div class="form-group form-black label-floating is-empty">
                                    <ng-select [items]="parentLists" bindLabel="firstName" placeholder="Select Parent" formControlName="parent_id">
                                    </ng-select>
                                </div>
                            </div>
                        </div> -->
                        <div class="row">
                            <button type="submit" class="btn btn-danger pull-right">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="myschoolStudentModal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Modal Header</h4>
            </div>
            <div class="modal-body">
                    <div class="card-content">
                            <form [formGroup]="studentSchoolForm" (ngSubmit)="submitSchoolStudentForm()">
                                <div class="row">
                                    <div class="col-md-6" [ngClass]="{'has-error': studentSchoolForm.controls.userName.invalid && studentSchoolForm.controls.userName.dirty,
                                        'has-success': studentSchoolForm.controls.userName.valid && !studentSchoolForm.controls.userName.dirty }">
                                        <div class="form-group form-black label-floating is-empty">
                                            <label class="control-label">Username</label>
                                            <input type="text" class="form-control" formControlName="userName">
                                        </div>
                                    </div>
                                    <div class="col-md-6" [ngClass]="{'has-error': studentSchoolForm.controls.email.invalid && studentSchoolForm.controls.email.dirty,
                                        'has-success': studentSchoolForm.controls.email.valid && !studentSchoolForm.controls.email.dirty }">
                                        <div class="form-group form-black label-floating is-empty">
                                            <label class="control-label">Email</label>
                                            <input type="email" class="form-control" formControlName="email">
                                        </div>
                                        <div *ngIf="emailTest">
                                            <p style="color: red;font-size: 10px;">Email Already Existed!</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4" [ngClass]="{'has-error': studentSchoolForm.controls.firstName.invalid && studentSchoolForm.controls.firstName.dirty,
                                        'has-success': studentSchoolForm.controls.firstName.valid && !studentSchoolForm.controls.firstName.dirty }">
                                        <div class="form-group form-black label-floating is-empty">
                                            <label class="control-label">First Name</label>
                                            <input type="text" class="form-control" formControlName="firstName">
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group form-black label-floating is-empty">
                                            <label class="control-label">Middle Name</label>
                                            <input type="text" class="form-control" formControlName="middleName">
                                        </div>
                                    </div>
                                    <div class="col-md-4" [ngClass]="{'has-error': studentSchoolForm.controls.lastName.invalid && studentSchoolForm.controls.lastName.dirty,
                                        'has-success': studentSchoolForm.controls.lastName.valid && !studentSchoolForm.controls.lastName.dirty }">
                                        <div class="form-group form-black label-floating is-empty">
                                            <label class="control-label">Last Name</label>
                                            <input type="text" class="form-control" formControlName="lastName">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6" [ngClass]="{'has-error': studentSchoolForm.controls.Date.invalid && studentSchoolForm.controls.Date.dirty,
                                        'has-success': studentSchoolForm.controls.Date.valid && !studentSchoolForm.controls.Date.dirty }">
                                        <div class="form-group form-black label-floating is-empty">
                                            <mat-form-field class="example-full-width">
                                                <input matInput [matDatepicker]="Date" formControlName="Date" placeholder="Joining Date">
                                                <mat-datepicker-toggle matSuffix [for]="Date">
                                                    <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
                                                </mat-datepicker-toggle>
                                                <mat-datepicker #Date></mat-datepicker>
                                            </mat-form-field>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group form-black label-floating is-empty">
                                            <mat-radio-group formControlName="gender">
                                                <mat-radio-button value="0">Femaile</mat-radio-button>
                                                <mat-radio-button value="1">Male</mat-radio-button>
                                            </mat-radio-group>
                                        </div>
                                    </div>
                                </div>
                                <div class="row" [ngClass]="{'has-error': studentSchoolForm.controls.parmanentAddress.invalid && studentSchoolForm.controls.parmanentAddress.dirty,
                                    'has-success': studentSchoolForm.controls.parmanentAddress.valid && !studentSchoolForm.controls.parmanentAddress.dirty }">
                                    <div class="col-md-6">
                                        <div class="form-group form-black label-floating is-empty">
                                            <label class="control-label">Parmanent Address</label>
                                            <input type="text" class="form-control" formControlName="parmanentAddress">
                                        </div>
                                    </div>
                                    <div class="col-md-6" [ngClass]="{'has-error': studentSchoolForm.controls.currentAddress.invalid && studentSchoolForm.controls.currentAddress.dirty,
                                        'has-success': studentSchoolForm.controls.currentAddress.valid && !studentSchoolForm.controls.currentAddress.dirty }">
                                        <div class="form-group form-black label-floating is-empty">
                                            <label class="control-label">Current Address</label>
                                            <input type="text" class="form-control" formControlName="currentAddress">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6" [ngClass]="{'has-error': studentSchoolForm.controls.symbolNumber.invalid && studentSchoolForm.controls.symbolNumber.dirty,
                                        'has-success': studentSchoolForm.controls.symbolNumber.valid && !studentSchoolForm.controls.symbolNumber.dirty }">
                                        <div class="form-group form-black label-floating is-empty">
                                            <label class="control-label">Symbol Number</label>
                                            <input type="Number" class="form-control" formControlName="symbolNumber">
                                        </div>
                                    </div>
                                    <div class="col-md-6" [ngClass]="{'has-error': studentSchoolForm.controls.registrationNumber.invalid && studentSchoolForm.controls.registrationNumber.dirty,
                                        'has-success': studentSchoolForm.controls.registrationNumber.valid && !studentSchoolForm.controls.registrationNumber.dirty }">
                                        <div class="form-group form-black label-floating is-empty">
                                            <label class="control-label">Registration Number</label>
                                            <input type="Number" class="form-control" formControlName="registrationNumber">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6" [ngClass]="{'has-error': studentSchoolForm.controls.department.invalid && studentSchoolForm.controls.department.dirty,
                                        'has-success': studentSchoolForm.controls.department.valid && !studentSchoolForm.controls.department.dirty }">
                                        <div class="form-group form-black label-floating is-empty">
                                            <ng-select [items]="facultyLists" bindLabel="name" placeholder="Select Faculty" formControlName="department">
                                            </ng-select>
                                        </div>
                                    </div>
                                    <div  class="col-md-6">
                                        <div class="col-md-6" [ngClass]="{'has-error': studentSchoolForm.controls.batch.invalid && studentSchoolForm.controls.batch.dirty,
                                                'has-success': studentSchoolForm.controls.batch.valid && !studentSchoolForm.controls.batch.dirty }">
                                            <div class="form-group form-black label-floating is-empty">
                                                <ng-select [items]="yearLists" bindLabel="batch" placeholder="Select year" formControlName="year">
                                                </ng-select>
                                            </div>
                                        </div>
                                        <div class="col-md-6" [ngClass]="{'has-error': studentSchoolForm.controls.batch.invalid && studentSchoolForm.controls.batch.dirty,
                                                'has-success': studentSchoolForm.controls.batch.valid && !studentSchoolForm.controls.batch.dirty }">
                                            <div class="form-group form-black label-floating is-empty">
                                                <ng-select [items]="classes" bindLabel="faculties" placeholder="Select Class" formControlName="class">
                                                </ng-select>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- <div *ngIf="!check">
                                        <div class="col-md-6" [ngClass]="{'has-error': studentForm.controls.batch.invalid && studentForm.controls.batch.dirty,
                                                'has-success': studentForm.controls.batch.valid && !studentForm.controls.batch.dirty }">
                                            <div class="form-group form-black label-floating is-empty">
                                                <ng-select [items]="batchLists" bindLabel="batch" placeholder="Select Batch" formControlName="batch">
                                                </ng-select>
                                            </div>
                                        </div>
                                    </div> -->
                                </div>
                                <div class="row">
                                    <div class="col-md-6" [ngClass]="{'has-error': studentSchoolForm.controls.mobileNumber.invalid && studentSchoolForm.controls.mobileNumber.dirty,
                                        'has-success': studentSchoolForm.controls.mobileNumber.valid && !studentSchoolForm.controls.mobileNumber.dirty }">
                                        <div class="form-group form-black label-floating is-empty">
                                            <label class="control-label">Mobile Number</label>
                                            <input type="Number" class="form-control" formControlName="mobileNumber">
                                        </div>
                                    </div>
                                    <div class="col-md-6" [ngClass]="{'has-error': studentSchoolForm.controls.phoneNumber.invalid && studentSchoolForm.controls.phoneNumber.dirty,
                                        'has-success': studentSchoolForm.controls.phoneNumber.valid && !studentSchoolForm.controls.phoneNumber.dirty }">
                                        <div class="form-group form-black label-floating is-empty">
                                            <label class="control-label">Phone Number</label>
                                            <input type="Number" class="form-control" formControlName="phoneNumber">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4">
                                        <input type="file" (change)="fileChangeEvent($event)" />
                                        <div>
                                            <image-cropper [imageChangedEvent]="imageChangedEvent" 
                                             [maintainAspectRatio]="true"
                                             [aspectRatio]="4 / 3" 
                                             [resizeToWidth]="128"
                                             format="png"
                                             (imageCropped)="imageCropped($event)"
                                             (imageLoaded)="imageLoaded()" 
                                             (loadImageFailed)="loadImageFailed()"
                                             style="max-height: 33vh" 
                                             [style.display]="cropperReady ? null : 'none'"></image-cropper>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-8" style="float:right;" >
                                        <div *ngIf="schoolStudentImage" class="card-avatar">
                                             <a>
                                                <img class="img" [src]="schoolStudentImage" />
                                             </a>
                                       </div>
                                        <div class="card-avatar" *ngIf="!schoolStudentImage">
                                            <a>
                                                <img class="img" src="assets/img/tim_80x80.png" />
                                            </a>
                                         </div>
                                    </div>
                                </div>
                                <!-- <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group form-black label-floating is-empty">
                                            <mat-radio-group formControlName="parentCheck">
                                                <mat-radio-button value="0">Exiting</mat-radio-button>
                                                <mat-radio-button value="1">New</mat-radio-button>
                                            </mat-radio-group>
                                        </div>
                                    </div>
                                </div> -->
                                <!-- <div *ngIf="newParent"> -->
                                    <h5>Parents Details</h5>
                                    <div class="row">
                                        <div class="col-md-4" [ngClass]="{'has-error': studentSchoolForm.controls.parentFirstName.invalid && studentSchoolForm.controls.parentFirstName.dirty,
                                            'has-success': studentSchoolForm.controls.parentFirstName.valid && !studentSchoolForm.controls.parentFirstName.dirty }">
                                            <div class="form-group form-black label-floating is-empty">
                                                <label class="control-label">First Name</label>
                                                <input type="text" class="form-control" formControlName="parentFirstName">
                                            </div>
                                        </div>
                                        <div class="col-md-4" [ngClass]="{'has-error': studentSchoolForm.controls.parentMiddleName.invalid && studentSchoolForm.controls.parentMiddleName.dirty,
                                            'has-success': studentSchoolForm.controls.parentMiddleName.valid && !studentSchoolForm.controls.parentMiddleName.dirty }">
                                            <div class="form-group form-black label-floating is-empty">
                                                <label class="control-label">Moddle Name</label>
                                                <input type="text" class="form-control" formControlName="parentMiddleName">
                                            </div>
                                        </div>
                                        <div class="col-md-4" [ngClass]="{'has-error': studentSchoolForm.controls.parentLastName.invalid && studentSchoolForm.controls.parentLastName.dirty,
                                            'has-success': studentSchoolForm.controls.parentLastName.valid && !studentSchoolForm.controls.parentLastName.dirty }">
                                            <div class="form-group form-black label-floating is-empty">
                                                <label class="control-label">Last Name</label>
                                                <input type="text" class="form-control" formControlName="parentLastName">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-4" [ngClass]="{'has-error': studentSchoolForm.controls.parentMobile.invalid && studentSchoolForm.controls.parentMobile.dirty,
                                            'has-success': studentSchoolForm.controls.parentMobile.valid && !studentSchoolForm.controls.parentMobile.dirty }">
                                            <div class="form-group form-black label-floating is-empty">
                                                <label class="control-label"> Mobile Number</label>
                                                <input type="Number" class="form-control" formControlName="parentMobile">
                                            </div>
                                        </div>
                                        <div class="col-md-4" [ngClass]="{'has-error': studentSchoolForm.controls.parentEmail.invalid && studentSchoolForm.controls.parentEmail.dirty,
                                            'has-success': studentSchoolForm.controls.parentEmail.valid && !studentSchoolForm.controls.parentEmail.dirty }">
                                            <div class="form-group form-black label-floating is-empty">
                                                <label class="control-label">Email</label>
                                                <input type="email" class="form-control" formControlName="parentEmail">
                                            </div>
                                            <div *ngIf="emailparentTest">
                                                <p style="color: red;font-size: 10px;">Email Already Existed!</p>
                                            </div>
                                        </div>
                                    </div>
                                <!-- </div> -->
                                <!-- <div *ngIf="exitingParent">
                                    <div class="col-md-6" [ngClass]="{'has-error': studentForm.controls.parent_id.invalid && studentForm.controls.parent_id.dirty,
                                        'has-success': studentForm.controls.parent_id.valid && !studentForm.controls.parent_id.dirty }">
                                        <div class="form-group form-black label-floating is-empty">
                                            <ng-select [items]="parentLists" bindLabel="firstName" placeholder="Select Parent" formControlName="parent_id">
                                            </ng-select>
                                        </div>
                                    </div>
                                </div> -->
                                <div class="row">
                                    <button type="submit" class="btn btn-danger pull-right">Submit</button>
                                </div>
                            </form>
                        </div>
            </div>
        </div>
    </div>
</div>      

<div class="modal fade" id="myTeacherModal" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Modal Header</h4>
                </div>
                <div class="modal-body">
                        <div class="card-content">
                                <form [formGroup]="teacherForm" (ngSubmit)="submitTeacher()">
                                    <div class="row">
                                        <div class="col-md-3" [ngClass]="{'has-error': teacherForm.controls.username.invalid && teacherForm.controls.username.dirty,
                                        'has-success': teacherForm.controls.username.valid && !teacherForm.controls.username.dirty }">
                                            <div class="form-group form-black label-floating is-empty">
                                                <label class="control-label">Username</label>
                                                <input type="text" class="form-control" formControlName="username">
                                            </div>
                                        </div>
                                        <div class="col-md-3" [ngClass]="{'has-error': teacherForm.controls.email.invalid && teacherForm.controls.email.dirty,
                                        'has-success': teacherForm.controls.email.valid && !teacherForm.controls.email.dirty }">
                                            <div class="form-group form-black label-floating is-empty">
                                                <label class="control-label">Email</label>
                                                <input type="email" class="form-control" formControlName="email">
                                            </div>
                                            <div *ngIf="emailTest">
                                                <p style="color: red;font-size: 10px;">Email Already Existed!</p>
                                           </div>
                                        </div>
                                        <div class="col-md-3" [ngClass]="{'has-error': teacherForm.controls.password.invalid && teacherForm.controls.password.dirty,
                                        'has-success': teacherForm.controls.password.valid && !teacherForm.controls.password.dirty }">
                                            <div class="form-group form-black label-floating is-empty">
                                                <label class="control-label">Password</label>
                                                <input type="password" class="form-control" formControlName="password">
                                            </div>
                                        </div>
                                        <div class="col-md-3" [ngClass]="{'has-error': teacherForm.controls.confirmPassword.invalid && teacherForm.controls.confirmPassword.dirty,
                                        'has-success': teacherForm.controls.confirmPassword.valid && !teacherForm.controls.confirmPassword.dirty }">
                                            <div class="form-group form-black label-floating is-empty">
                                                <label class="control-label">Confirm Password</label>
                                                <input type="password" class="form-control" formControlName="confirmPassword">
                                            </div>
                                            <div *ngIf="passwordTest">
                                                <p style="color: red;font-size: 10px;">Password did not match!</p>
                                           </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-4" [ngClass]="{'has-error': teacherForm.controls.firstName.invalid && teacherForm.controls.firstName.dirty,
                                        'has-success': teacherForm.controls.firstName.valid && !teacherForm.controls.firstName.dirty }">
                                            <div class="form-group form-black label-floating is-empty">
                                                <label class="control-label">First Name</label>
                                                <input type="text" class="form-control" formControlName="firstName">
                                            </div>
                                        </div>
                                        <div class="col-md-4" [ngClass]="{'has-error': teacherForm.controls.middleName.invalid && teacherForm.controls.middleName.dirty,
                                        'has-success': teacherForm.controls.middleName.valid && !teacherForm.controls.middleName.dirty }">
                                            <div class="form-group form-black label-floating is-empty">
                                                <label class="control-label">Middle Name</label>
                                                <input type="text" class="form-control" formControlName="middleName">
                                            </div>
                                        </div>
                                        <div class="col-md-4" [ngClass]="{'has-error': teacherForm.controls.lastName.invalid && teacherForm.controls.lastName.dirty,
                                        'has-success': teacherForm.controls.lastName.valid && !teacherForm.controls.lastName.dirty }">
                                            <div class="form-group form-black label-floating is-empty">
                                                <label class="control-label">Last Name</label>
                                                <input type="text" class="form-control" formControlName="lastName">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6" [ngClass]="{'has-error': teacherForm.controls.parentName.invalid && teacherForm.controls.parentName.dirty,
                                        'has-success': teacherForm.controls.parentName.valid && !teacherForm.controls.parentName.dirty }">
                                            <div class="form-group form-black label-floating is-empty">
                                                <label class="control-label">Parent Name</label>
                                                <input type="text" class="form-control" formControlName="parentName">
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group form-black label-floating is-empty">
                                                <mat-radio-group formControlName="gender">
                                                    <mat-radio-button [value]="0">Female</mat-radio-button>
                                                    <mat-radio-button [value]="1">Male</mat-radio-button>
                                                </mat-radio-group>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group form-black label-floating is-empty">
                                                <mat-form-field class="example-full-width">
                                                    <input matInput [matDatepicker]="join_Date" formControlName="join_Date" placeholder="Joining Date">
                                                    <mat-datepicker-toggle matSuffix [for]="join_Date">
                                                        <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
                                                    </mat-datepicker-toggle>
                                                    <mat-datepicker #join_Date></mat-datepicker>
                                                </mat-form-field>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group form-black label-floating is-empty">
                                                <mat-form-field class="example-full-width">
                                                    <input matInput [matDatepicker]="leaveDate" formControlName="leaveDate" placeholder="Leaving Date">
                                                    <mat-datepicker-toggle matSuffix [for]="leaveDate">
                                                        <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
                                                    </mat-datepicker-toggle>
                                                    <mat-datepicker #leaveDate></mat-datepicker>
                                                </mat-form-field>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group form-black label-floating is-empty">
                                                <ng-select [items]="facultyLists" bindLabel="name" bindValue="name" [multiple]="true" placeholder="Select Faculty" formControlName="department">
                                                </ng-select>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group form-black label-floating is-empty">
                                                <ng-select [items]="toppingArray" bindLabel="name" bindValue="name" [multiple]="true" placeholder="Select Post" formControlName="post">
                                                </ng-select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-3" [ngClass]="{'has-error': teacherForm.controls.parmanentAddress.invalid && teacherForm.controls.parmanentAddress.dirty,
                                        'has-success': teacherForm.controls.parmanentAddress.valid && !teacherForm.controls.parmanentAddress.dirty }">
                                            <div class="form-group form-black label-floating is-empty">
                                                <label class="control-label">Parmanent Address</label>
                                                <input type="text" class="form-control" formControlName="parmanentAddress">
                                            </div>
                                        </div>
                                        <div class="col-md-3" [ngClass]="{'has-error': teacherForm.controls.currentAddress.invalid && teacherForm.controls.currentAddress.dirty,
                                        'has-success': teacherForm.controls.currentAddress.valid && !teacherForm.controls.currentAddress.dirty }">
                                            <div class="form-group form-black label-floating is-empty">
                                                <label class="control-label">Current Address</label>
                                                <input type="text" class="form-control" formControlName="currentAddress">
                                            </div>
                                        </div>
                                        <div class="col-md-3" [ngClass]="{'has-error': teacherForm.controls.mobileNumber.invalid && teacherForm.controls.mobileNumber.dirty,
                                        'has-success': teacherForm.controls.mobileNumber.valid && !teacherForm.controls.mobileNumber.dirty }">
                                            <div class="form-group form-black label-floating is-empty">
                                                <label class="control-label">Mobile Number</label>
                                                <input type="Number" class="form-control" formControlName="mobileNumber">
                                            </div>
                                        </div>
                                        <div class="col-md-3" [ngClass]="{'has-error': teacherForm.controls.phoneNumber.invalid && teacherForm.controls.phoneNumber.dirty,
                                        'has-success': teacherForm.controls.phoneNumber.valid && !teacherForm.controls.phoneNumber.dirty }">
                                            <div class="form-group form-black label-floating is-empty">
                                                <label class="control-label">Phone Number</label>
                                                <input type="Number" class="form-control" formControlName="phoneNumber">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-4">
                                            <input type="file" (change)="fileChangeEvent($event)" />
                                            <div>
                                                <image-cropper [imageChangedEvent]="imageChangedEvent"
                                                 [maintainAspectRatio]="true"
                                                 [aspectRatio]="4 / 3"
                                                 [resizeToWidth]="128"
                                                 format="png"
                                                 (imageCropped)="imageCropped($event)" 
                                                 (imageLoaded)="imageLoaded()"
                                                    (loadImageFailed)="loadImageFailed()"
                                                     style="max-height: 33vh" [style.display]="cropperReady ? null : 'none'"></image-cropper>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                            <div class="col-md-8" style="float:right;" >
                                                <div *ngIf="teacherImage" class="card-avatar">
                                                     <a>
                                                        <img class="img" [src]="teacherImage" />
                                                     </a>
                                               </div>
                                                <div class="card-avatar" *ngIf="!teacherImage">
                                                    <a>
                                                        <img class="img" src="assets/img/tim_80x80.png" />
                                                    </a>
                                                 </div>
                                            </div>
                                        </div>
                                    <div class="row">
                                        <button type="submit" class="btn btn-danger pull-right">Submit</button>
                                    </div>
                                </form>
                            </div>
                   </div>
             </div>
        </div>
</div>


<div class="modal fade" id="myGuestModal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Modal Header</h4>
            </div>
            <div class="modal-body">
                    <div class="card-content">
                            <form [formGroup]="guestForm" (ngSubmit)="submitGuestForm()">
                                <div class="row">
                                    <div class="col-md-6" [ngClass]="{'has-error': guestForm.controls.userName.invalid && guestForm.controls.userName.dirty,
                                    'has-success': guestForm.controls.userName.valid && !guestForm.controls.userName.dirty }">
                                        <div class="form-group form-black label-floating is-empty">
                                            <label class="control-label">Username</label>
                                            <input type="text" class="form-control" formControlName="userName">
                                        </div>
                                    </div>
                                    <div class="col-md-6" [ngClass]="{'has-error': guestForm.controls.email.invalid && guestForm.controls.email.dirty,
                                    'has-success': guestForm.controls.email.valid && !guestForm.controls.email.dirty }">
                                        <div class="form-group form-black label-floating is-empty">
                                            <label class="control-label">Email</label>
                                            <input type="email" class="form-control" formControlName="email">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4" [ngClass]="{'has-error': guestForm.controls.firstName.invalid && guestForm.controls.firstName.dirty,
                                    'has-success': guestForm.controls.firstName.valid && !guestForm.controls.firstName.dirty }">
                                        <div class="form-group form-black label-floating is-empty">
                                            <label class="control-label">First Name</label>
                                            <input type="text" class="form-control" formControlName="firstName">
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group form-black label-floating is-empty">
                                            <label class="control-label">Middle Name</label>
                                            <input type="text" class="form-control" formControlName="middleName">
                                        </div>
                                    </div>
                                    <div class="col-md-4" [ngClass]="{'has-error': guestForm.controls.lastName.invalid && guestForm.controls.lastName.dirty,
                                    'has-success': guestForm.controls.lastName.valid && !guestForm.controls.lastName.dirty }">
                                        <div class="form-group form-black label-floating is-empty">
                                            <label class="control-label">Last Name</label>
                                            <input type="text" class="form-control" formControlName="lastName">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-group form-black label-floating is-empty">
                                            <mat-radio-group formControlName="gender">
                                                <mat-radio-button value="0">Femaile</mat-radio-button>
                                                <mat-radio-button value="1">Male</mat-radio-button>
                                            </mat-radio-group>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6" [ngClass]="{'has-error': guestForm.controls.parmanentAddress.invalid && guestForm.controls.parmanentAddress.dirty,
                                    'has-success': guestForm.controls.parmanentAddress.valid && !guestForm.controls.parmanentAddress.dirty }">
                                        <div class="form-group form-black label-floating is-empty">
                                            <label class="control-label">permanent Address</label>
                                            <input type="text" class="form-control" formControlName="parmanentAddress">
                                        </div>
                                    </div>
                                    <div class="col-md-6" [ngClass]="{'has-error': guestForm.controls.currentAddress.invalid && guestForm.controls.currentAddress.dirty,
                                    'has-success': guestForm.controls.currentAddress.valid && !guestForm.controls.currentAddress.dirty }">
                                        <div class="form-group form-black label-floating is-empty">
                                            <label class="control-label">Current Address</label>
                                            <input type="text" class="form-control" formControlName="currentAddress">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6" [ngClass]="{'has-error': guestForm.controls.mobileNumber.invalid && guestForm.controls.mobileNumber.dirty,
                                    'has-success': guestForm.controls.mobileNumber.valid && !guestForm.controls.mobileNumber.dirty }">
                                        <div class="form-group form-black label-floating is-empty">
                                            <label class="control-label">Mobile Number</label>
                                            <input type="Number" class="form-control" formControlName="mobileNumber">
                                        </div>
                                    </div>
                                    <div class="col-md-6" [ngClass]="{'has-error': guestForm.controls.phoneNumber.invalid && guestForm.controls.phoneNumber.dirty,
                                    'has-success': guestForm.controls.phoneNumber.valid && !guestForm.controls.phoneNumber.dirty }">
                                        <div class="form-group form-black label-floating is-empty">
                                            <label class="control-label">Phone Number</label>
                                            <input type="Number" class="form-control" formControlName="phoneNumber">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12" [ngClass]="{'has-error': guestForm.controls.discription.invalid && guestForm.controls.discription.dirty,
                                    'has-success': guestForm.controls.discription.valid && !guestForm.controls.discription.dirty }">
                                        <div class="form-group">
                                            <label>About Me</label>
                                            <div class="form-group form-black label-floating is-empty">
                                                <label class="control-label"> Write detail about the guest.</label>
                                                <textarea class="form-control" rows="5" formControlName="discription"></textarea>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4">
                                        <input type="file" (change)="fileChangeEvent($event)" />
                                        <div>
                                            <image-cropper [imageChangedEvent]="imageChangedEvent" [maintainAspectRatio]="true" [aspectRatio]="4 / 3" [resizeToWidth]="128"
                                                format="png" (imageCropped)="imageCropped($event)" (imageLoaded)="imageLoaded()"
                                                (loadImageFailed)="loadImageFailed()" style="max-height: 33vh" [style.display]="cropperReady ? null : 'none'"></image-cropper>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-8" style="float:right;" >
                                        <div *ngIf="guestImage" class="card-avatar">
                                             <a>
                                                <img class="img" [src]="guestImage" />
                                             </a>
                                       </div>
                                        <div class="card-avatar" *ngIf="!guestImage">
                                            <a>
                                                <img class="img" src="assets/img/tim_80x80.png" />
                                            </a>
                                         </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <button type="submit" class="btn btn-danger pull-right">submit</button>
                                </div>
                            </form>
                        </div>                
                  </div>
             </div>
         </div>
     </div>        