.example-form {
  min-width: 150px;
  max-width: 1000px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}
#toutine-progress{
  height: 62px;
  margin-bottom: -8px;
  margin-top: -6px;
  overflow:auto;
}
.progress{
overflow:auto;
}
.task-odd {  
  background: #00aced !important;  
  color:#fff;
}
 .task-even {  
    background: #bd5d38 !important;  
    color: #59267c;
}