<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                          <p class="category">Routine</p>
                      </div>
                    <div class="card-content">
                        <form [formGroup]="routineForm" class="example-form" (ngSubmit)="submitRoutineForm()">
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group form-black label-floating is-empty">
                                        <ng-select [items]="faculitiesLists" bindLabel="name" placeholder="Select faculty" formControlName="faculty">
                                        </ng-select>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group form-black label-floating is-empty">
                                        <ng-select [items]="batchLists" bindLabel="batch" placeholder="Select Batch" formControlName="batch">
                                        </ng-select>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group form-black label-floating is-empty">
                                        <ng-select [items]="batchWiseClasses" bindLabel="faculties" placeholder="Select Level" formControlName="level">
                                        </ng-select>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group form-black label-floating is-empty">
                                        <ng-select [items]="teacherLists" bindLabel="name" placeholder="Select Teacher" formControlName="teacher">
                                        </ng-select>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group form-black label-floating is-empty">
                                        <ng-select [items]="subjectLists" bindLabel="name" placeholder="Select Subject" formControlName="subject">
                                        </ng-select>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group form-black label-floating is-empty">
                                        <ng-select [items]="days" bindLabel="name" bindValue="name" [multiple]="true" placeholder="Select Days" formControlName="days">
                                        </ng-select>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-2">
                                    <div class="form-group form-black label-floating is-empty">
                                        <label class="control-label">Start At</label>
                                        <input type="Time" class="form-control" formControlName="start_at">
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group form-black label-floating is-empty">
                                        <label class="control-label">End At</label>
                                        <input type="Time" class="form-control" formControlName="end_at">
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group form-black label-floating is-empty">
                                        <button type="submit" class="btn btn-danger pull-right">Submit</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <mat-tab-group (selectedTabChange)="onLinkClickBatch($event)">
                                <mat-tab *ngFor="let faculty of faculitiesLists" label={{faculty.name}}>
                                    <mat-tab-group (selectedTabChange)="onLinkSubTab($event)">
                                        <mat-tab *ngFor="let level of routineEachTab?.level_list" label={{level.level}}>
                                            <table class="table table-condensed">
                                                <thead>
                                                    <tr>
                                                        <th  style="width:10px;">Day</th>
                                                        <th>
                                                               <div class="progress">
                                                                  <div *ngFor="let interval of timeIntervals; let idx = index; let isOdd = odd; let isEven = even"  class="progress-bar bg-success" role="progressbar" [class.task-odd] = "isOdd"  [class.task-even] = "isEven"  [style.width.px]="(interval.endTime - interval.startTime)/20">
                                                                        {{ interval.val}}
                                                                  </div>
                                                              </div>
                                                        </th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr *ngFor="let x of dayByDayRoutine;let i =index">
                                                        <td >
                                                            <ng-container *ngIf="x.day == 1">
                                                                <div>
                                                                    <div>
                                                                         <button type="submit" class="btn btn-primary pull-right" (click)="progressAllRoutineDelete(x.day)"><i class="fa fa-trash" aria-hidden="true"></i>
                                                                         </button>Sunday
                                                                    </div>
                                                                </div>
                                                            </ng-container>
                                                            <ng-container *ngIf="x.day == 2">
                                                                 <div>
                                                                    <div>
                                                                         <button type="submit" class="btn btn-primary pull-right" (click)="progressAllRoutineDelete(x.day)"><i class="fa fa-trash" aria-hidden="true"></i>
                                                                         </button>Monday
                                                                    </div>
                                                                </div>
                                                            </ng-container>
                                                            <ng-container *ngIf="x.day == 3">
                                                                    <div>
                                                                            <div>
                                                                                 <button type="submit" class="btn btn-primary pull-right" (click)="progressAllRoutineDelete(x.day)"><i class="fa fa-trash" aria-hidden="true"></i>
                                                                                 </button>Tuesday
                                                                            </div>
                                                                        </div>
                                                            </ng-container>
                                                            <ng-container *ngIf="x.day == 4">
                                                                    <div>
                                                                            <div>
                                                                                 <button type="submit" class="btn btn-primary pull-right" (click)="progressAllRoutineDelete(x.day)"><i class="fa fa-trash" aria-hidden="true"></i>
                                                                                 </button>Wednesday
                                                                            </div>
                                                                        </div>
                                                            </ng-container>
                                                            <ng-container *ngIf="x.day == 5">
                                                                    <div>
                                                                            <div>
                                                                                 <button type="submit" class="btn btn-primary pull-right" (click)="progressAllRoutineDelete(x.day)"><i class="fa fa-trash" aria-hidden="true"></i>
                                                                                 </button>Thursday
                                                                            </div>
                                                                        </div>
                                                            </ng-container>
                                                            <ng-container *ngIf="x.day == 6">
                                                                    <div>
                                                                            <div>
                                                                                 <button type="submit" class="btn btn-primary pull-right" (click)="progressAllRoutineDelete(x.day)"><i class="fa fa-trash" aria-hidden="true"></i>
                                                                                 </button>Friday
                                                                            </div>
                                                                        </div>
                                                            </ng-container>
                                                            <ng-container *ngIf="x.day == 7">
                                                                    <div>
                                                                            <div>
                                                                                 <button type="submit" class="btn btn-primary pull-right" (click)="progressAllRoutineDelete(x.day)"><i class="fa fa-trash" aria-hidden="true"></i>
                                                                                 </button>Saturday
                                                                            </div>
                                                                        </div>
                                                            </ng-container>
                                                        </td>
                                                        <td>
                                                            <div id="toutine-progress" class="progress">
                                                                  <div *ngFor="let y of x.period; let idx = index; let isOdd = odd; let isEven = even" [class.task-odd] = "isOdd"  [class.task-even] = "isEven" class="progress-bar bg-success"  role="progressbar" [style.width.px]="(y.end_at - y.start_at)/20" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
                                                                       <div style="position: relative;" >
                                                                           <div *ngIf="y.subject !== 'break'">
                                                                                <button type="submit" class="btn btn-primary pull-right"  (click)="progressRoutineDelete(idx,y.id,x.day)"><i class="fa fa-trash" aria-hidden="true"></i></button>
                                                                           </div>
                                                                              {{y.subject}}<br>{{y.fname}}  {{y.lname}}<br> 
                                                                            <div *ngIf="y.subject !== 'N/A'">
                                                                                {{y.start_at/3600}} - {{y.end_at/3600}}
                                                                            </div>
                                                                       </div>
                                                                  </div>
                                                             </div>
                                                            <!-- <div *ngFor="let y of x.period"  [style.background-color]="'red'" [style.width.px]="'1000px;'">{{y.subject}} {{y.fname}}  {{y.lname}}</div> -->
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </mat-tab>
                                    </mat-tab-group>
                                </mat-tab>
                            </mat-tab-group>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Delete Routine Modal</h4>
                </div>
                <div class="modal-body">
                    <p>Do you really want to Delete?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" (click)="deletedRoutineModel()">Yes</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
 </div>

    <div class="modal fade" id="blockMyModal" role="dialog">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Delete Routine Modal</h4>
                </div>
                <div class="modal-body">
                    <p>Do you really want to Delete?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" (click)="deletedBlockRoutineModel()">Yes</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    
<!-- <pre>{{routineEachTab | json}}</pre> -->
