<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="title">Guest Registration</h4>
                    </div>
                    <div class="card-content">
                        <form [formGroup]="guestForm" (ngSubmit)="submitGuestForm()">
                            <div class="row">
                                <div class="col-md-6" [ngClass]="{'has-error': guestForm.controls.userName.invalid && guestForm.controls.userName.dirty,
                                'has-success': guestForm.controls.userName.valid && !guestForm.controls.userName.dirty }">
                                    <div class="form-group form-black label-floating is-empty">
                                        <label class="control-label">Username</label>
                                        <input type="text" class="form-control" formControlName="userName">
                                    </div>
                                </div>
                                <div class="col-md-6" [ngClass]="{'has-error': guestForm.controls.email.invalid && guestForm.controls.email.dirty,
                                'has-success': guestForm.controls.email.valid && !guestForm.controls.email.dirty }">
                                    <div class="form-group form-black label-floating is-empty">
                                        <label class="control-label">Email</label>
                                        <input type="email" class="form-control" formControlName="email">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4" [ngClass]="{'has-error': guestForm.controls.firstName.invalid && guestForm.controls.firstName.dirty,
                                'has-success': guestForm.controls.firstName.valid && !guestForm.controls.firstName.dirty }">
                                    <div class="form-group form-black label-floating is-empty">
                                        <label class="control-label">First Name</label>
                                        <input type="text" class="form-control" formControlName="firstName">
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group form-black label-floating is-empty">
                                        <label class="control-label">Middle Name</label>
                                        <input type="text" class="form-control" formControlName="middleName">
                                    </div>
                                </div>
                                <div class="col-md-4" [ngClass]="{'has-error': guestForm.controls.lastName.invalid && guestForm.controls.lastName.dirty,
                                'has-success': guestForm.controls.lastName.valid && !guestForm.controls.lastName.dirty }">
                                    <div class="form-group form-black label-floating is-empty">
                                        <label class="control-label">Last Name</label>
                                        <input type="text" class="form-control" formControlName="lastName">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group form-black label-floating is-empty">
                                        <mat-radio-group formControlName="gender">
                                            <mat-radio-button value="0">Femaile</mat-radio-button>
                                            <mat-radio-button value="1">Male</mat-radio-button>
                                        </mat-radio-group>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6" [ngClass]="{'has-error': guestForm.controls.parmanentAddress.invalid && guestForm.controls.parmanentAddress.dirty,
                                'has-success': guestForm.controls.parmanentAddress.valid && !guestForm.controls.parmanentAddress.dirty }">
                                    <div class="form-group form-black label-floating is-empty">
                                        <label class="control-label">permanent Address</label>
                                        <input type="text" class="form-control" formControlName="parmanentAddress">
                                    </div>
                                </div>
                                <div class="col-md-6" [ngClass]="{'has-error': guestForm.controls.currentAddress.invalid && guestForm.controls.currentAddress.dirty,
                                'has-success': guestForm.controls.currentAddress.valid && !guestForm.controls.currentAddress.dirty }">
                                    <div class="form-group form-black label-floating is-empty">
                                        <label class="control-label">Current Address</label>
                                        <input type="text" class="form-control" formControlName="currentAddress">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6" [ngClass]="{'has-error': guestForm.controls.mobileNumber.invalid && guestForm.controls.mobileNumber.dirty,
                                'has-success': guestForm.controls.mobileNumber.valid && !guestForm.controls.mobileNumber.dirty }">
                                    <div class="form-group form-black label-floating is-empty">
                                        <label class="control-label">Mobile Number</label>
                                        <input type="Number" class="form-control" formControlName="mobileNumber">
                                    </div>
                                </div>
                                <div class="col-md-6" [ngClass]="{'has-error': guestForm.controls.phoneNumber.invalid && guestForm.controls.phoneNumber.dirty,
                                'has-success': guestForm.controls.phoneNumber.valid && !guestForm.controls.phoneNumber.dirty }">
                                    <div class="form-group form-black label-floating is-empty">
                                        <label class="control-label">Phone Number</label>
                                        <input type="Number" class="form-control" formControlName="phoneNumber">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12" [ngClass]="{'has-error': guestForm.controls.discription.invalid && guestForm.controls.discription.dirty,
                                'has-success': guestForm.controls.discription.valid && !guestForm.controls.discription.dirty }">
                                    <div class="form-group">
                                        <label>About Me</label>
                                        <div class="form-group form-black label-floating is-empty">
                                            <label class="control-label"> Write detail about the guest.</label>
                                            <textarea class="form-control" rows="5" formControlName="discription"></textarea>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <input type="file" (change)="fileChangeEvent($event)" />
                                    <div>
                                        <image-cropper [imageChangedEvent]="imageChangedEvent" [maintainAspectRatio]="true" [aspectRatio]="4 / 3" [resizeToWidth]="128"
                                            format="png" (imageCropped)="imageCropped($event)" (imageLoaded)="imageLoaded()"
                                            (loadImageFailed)="loadImageFailed()" style="max-height: 33vh" [style.display]="cropperReady ? null : 'none'"></image-cropper>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <button type="submit" class="btn btn-danger pull-right">submit</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>