<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4">
                <div class="card">
                    <div class="card-content">
                        <form [formGroup]="eventForm" (ngSubmit)="submitEventForm()">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group form-black label-floating is-empty">
                                        <label class="control-label">Title</label>
                                        <input type="text" class="form-control" formControlName="title">
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group form-black label-floating is-empty">
                                        <mat-form-field class="example-full-width">
                                            <input matInput [matDatepicker]="joinDate" formControlName="joinDate" placeholder="Event Date">
                                            <mat-datepicker-toggle matSuffix [for]="joinDate">
                                                <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
                                            </mat-datepicker-toggle>
                                            <mat-datepicker #joinDate></mat-datepicker>
                                        </mat-form-field>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label>Discription</label>
                                        <div class="form-group form-black label-floating is-empty">
                                            <textarea class="form-control" rows="5" formControlName="discription"></textarea>
                                        </div>
                                    </div>
                                </div>
                                <div>
                                    <mat-checkbox class="example-margin" formControlName="check">Has Time Interval</mat-checkbox>
                                </div>
                                <div *ngIf="hideTime" class="col-md-12">
                                    <h5>
                                        If this event has time interval then please enter below.</h5>
                                    <div class="col-md-6">
                                        <div class="form-group form-black label-floating is-empty">
                                            <label class="control-label">Start At</label>
                                            <input type="time" class="form-control" formControlName="startAt">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group form-black label-floating is-empty">
                                            <label class="control-label">End At</label>
                                            <input type="time" class="form-control" formControlName="endAt">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <button type="submit" class="btn btn-danger pull-right">Submit</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-md-8">
                <div class="card">
                    <div class="card-content">
                        <mat-tab-group (selectedTabChange)="onLinkClick($event)">
                            <mat-tab label="Up Comming">
                                <div class="card-content table-responsive">
                                    <table class="table">
                                        <thead class="text-danger">
                                            <tr>
                                                <th>Date</th>
                                                <th>Description</th>
                                                <th>Start Time</th>
                                                <th>End Time</th>
                                                <th>Control</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let event of upComingLists;let i =index">
                                                <td>{{event.date}}</td>
                                                <td>{{event.description}}</td>
                                                <td>{{event.start_at}}</td>
                                                <td>{{event.end_at}}</td>
                                                <td>
                                                    <button type="button" rel="tooltip" title="Edit Task" class="btn btn-primary btn-simple btn-xs" (click)="editUpComingEvent(event.id)">
                                                        <i class="material-icons">edit</i>
                                                    </button>
                                                    <button type="button" rel="tooltip" title="Remove" class="btn btn-danger btn-simple btn-xs" (click)="deleteUpComingEvent(i)">
                                                        <i class="material-icons">close</i>
                                                    </button>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </mat-tab>
                            <mat-tab label="Completed">
                                <div class="card-content table-responsive">
                                    <table class="table">
                                        <thead class="text-danger">
                                            <tr>
                                                <th>Date</th>
                                                <th>Description</th>
                                                <th>Start Time</th>
                                                <th>End Time</th>
                                                <th>Control</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let event of completeList;let i =index">
                                                <td>{{event.date}}</td>
                                                <td>{{event.description}}</td>
                                                <td>{{event.start_at}}</td>
                                                <td>{{event.end_at}}</td>
                                                <td>
                                                    <button type="button" rel="tooltip" title="Remove" class="btn btn-danger btn-simple btn-xs" (click)="deleteCompleteEvent(i)">
                                                        <i class="material-icons">close</i>
                                                    </button>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </mat-tab>
                        </mat-tab-group>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="card">
                    <div class="card-content">
                        <div class="modal fade" id="modalContent">
                            <div class="modal-header">
                                <h5 class="modal-title">Event action occurred</h5>
                                <button type="button" class="close" (click)="close()">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <div>
                                    Action:
                                    <pre>{{ modalData?.action }}</pre>
                                </div>
                                <div>
                                    Event:
                                    <pre>{{ modalData?.event.title}}</pre> Description:
                                    <pre>{{ modalData?.event.description}}</pre> Event Date:
                                    <pre>{{ modalData?.event.start}}</pre> Start At:
                                    <pre>{{ modalData?.event.start_at}}</pre> End At:
                                    <pre>{{ modalData?.event.end_at}}</pre>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-outline-secondary" (click)="close()">OK</button>
                            </div>
                        </div>
                        <div class="row text-center">
                            <div class="col-md-4">
                                <div class="btn-group">
                                    <div class="btn btn-primary" mwlCalendarPreviousView [view]="view" [(viewDate)]="viewDate" (viewDateChange)="activeDayIsOpen = false">
                                        Previous
                                    </div>
                                    <div class="btn btn-outline-secondary" mwlCalendarToday [(viewDate)]="viewDate">
                                        Today
                                    </div>
                                    <div class="btn btn-primary" mwlCalendarNextView [view]="view" [(viewDate)]="viewDate" (viewDateChange)="activeDayIsOpen = false">
                                        Next
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <h3>{{ viewDate | calendarDate:(view + 'ViewTitle'):'en' }}</h3>
                            </div>
                            <div class="col-md-4">
                                <div class="btn-group">
                                    <div class="btn btn-primary" (click)="view = 'month'" [class.active]="view === 'month'">
                                        Month
                                    </div>
                                    <div class="btn btn-primary" (click)="view = 'week'" [class.active]="view === 'week'">
                                        Week
                                    </div>
                                    <div class="btn btn-primary" (click)="view = 'day'" [class.active]="view === 'day'">
                                        Day
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br>
                        <div [ngSwitch]="view">
                            <mwl-calendar-month-view *ngSwitchCase="'month'" [viewDate]="viewDate" [events]="events" [refresh]="refresh" [activeDayIsOpen]="activeDayIsOpen"
                                (dayClicked)="dayClicked($event.day)" (eventClicked)="handleEvent('Clicked', $event.event)" (eventTimesChanged)="eventTimesChanged($event)">
                            </mwl-calendar-month-view>
                            <mwl-calendar-week-view *ngSwitchCase="'week'" [viewDate]="viewDate" [events]="events" [refresh]="refresh" (eventClicked)="handleEvent('Clicked', $event.event)"
                                (eventTimesChanged)="eventTimesChanged($event)">
                            </mwl-calendar-week-view>
                            <mwl-calendar-day-view *ngSwitchCase="'day'" [viewDate]="viewDate" [events]="events" [refresh]="refresh" (eventClicked)="handleEvent('Clicked', $event.event)"
                                (eventTimesChanged)="eventTimesChanged($event)">
                            </mwl-calendar-day-view>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>




<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Delete Event Modal</h4>
            </div>
            <div class="modal-body">
                <p>Do you really want to Delete?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" (click)="deletedEventModel()">Yes</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="deletemyModal" role="dialog">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Delete Event Modal</h4>
            </div>
            <div class="modal-body">
                <p>Do you really want to Delete?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" (click)="deletedCompletedEventModel()">Yes</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>