<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-content">
                        <mat-tab-group>
                            <mat-tab label="School">
                                <form [formGroup]="promoteStudent" (ngSubmit)="submitPromoteStudent()">
                                    <div class="row">
                                        <div class="col-md-3">
                                                <div class="form-group form-black label-floating is-empty">
                                                    <label class="control-label"></label>
                                                    <input type="text" class="form-control" formControlName="faculty" readonly>
                                                </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group form-black label-floating is-empty">
                                                <ng-select [items]="yearLists" bindLabel="year" placeholder="Select Year" formControlName="batch">
                                                </ng-select>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group form-black label-floating is-empty">
                                                <ng-select [items]="levelLists" bindLabel="faculties" placeholder="Select Level" formControlName="level">
                                                </ng-select>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group form-black label-floating is-empty">
                                                <button type="submit" class="btn btn-primary pull-center">Search</button>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                                <div *ngIf="promoteForm">
                                    <form [formGroup]="promoteForm" (ngSubmit)="submitPromoteForm()">
                                        <div class="row" formArrayName="promateStudent">
                                            <div class="col-md-6" *ngFor="let x of studentLists;let i = index" [formGroupName]="i">
                                                <mat-checkbox formControlName="promote">{{x.first_name}} {{x.middle_name}} {{x.last_name}}</mat-checkbox>
                                            </div>
                                        </div>
                                        <div class="col-md-2">
                                            <div class="form-group form-black label-floating is-empty">
                                                <label class="control-label">Promote To</label>
                                                <input type="text" class="form-control" formControlName="promateTo">
                                            </div>
                                        </div>
                                        <div class="col-md-2">
                                            <div class="form-group form-black label-floating is-empty">
                                                <label class="control-label"></label>
                                                <input type="text" class="form-control" formControlName="promateYear" readonly>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group form-black label-floating is-empty">
                                                <button type="submit" class="btn btn-primary pull-center">Promote</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                             </mat-tab>
                             <mat-tab label="College">
                                <div *ngIf="batchMapping">
                                        <div class="row">
                                            <div class="col-md-6" *ngFor="let array of batchMappingLists">
                                                <div *ngIf="array.updated_at == 0">
                                                     <h5>{{array.name}}</h5>
                                                </div>
                                                <h5>{{array.batch}}</h5>
                                                <div *ngFor="let x of array.faculty_wise_class;let i = index">
                                                    <div class="radio">
                                                        <label class="radio-inline">
                                                            <input type="radio" class="flat-red" name="{{array.created_at}}" [checked]="x.faculties" (change)="unChangeBatch(i,array.batch,array.faculty_id)">
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                   </div>
                            </mat-tab>
                        </mat-tab-group>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<pre>{{batchMappingLists | json}}</pre>
<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Promote Student Modal</h4>
            </div>
            <div class="modal-body">
                <p>Do you really want to Promote Students?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" (click)="submitPromoteFormModel()">Yes</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>