<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header">
              <h4 class="title">Notification Management</h4>
          </div>
          <div class="card-content">
            <form [formGroup]="notificationForm" (ngSubmit)="submitNotificationForm()">
              <div class="row">
                <div class="col-md-4">
                  <div class="col-md-12">
                    <div class="form-group form-black label-floating is-empty">
                      <label class="control-label">Title</label>
                      <input type="text" class="form-control" formControlName="title">
                    </div>
                  </div>
                  <div class="col-md-12">
                    <div class="form-group form-black label-floating is-empty">
                      <label class="control-label">Decription</label>
                      <textarea class="form-control" rows="5"  formControlName="description"></textarea>
                    </div>
                  </div>
                  <div class="col-md-12">
                    <div class="form-group form-black label-floating is-empty">
                      <mat-checkbox></mat-checkbox>
                    </div>
                  </div>
                  <div class="col-md-12">
                      <button type="submit" class="btn btn-danger pull-right">Submit</button>
                  </div>
                </div>
                <div class="col-md-8">
                  <h4>Push notification to all Teacher of Hetauda city college</h4>
                  <kendo-treeview
                      [nodes]="facultyLists"
                      textField="name"
                      kendoTreeViewCheckable
                      [(checkedKeys)]="checkedKeysOfbatch">
                  </kendo-treeview>   
                  <h4>Push notification to all student of Hetauda city college</h4>
                  <kendo-treeview
                    [nodes]="batchLists"
                    [children]="childbatch"
                    [hasChildren]="hasClildbatch"
                    textField="name"
                    kendoTreeViewCheckable
                    [(checkedKeys)]="checkedKeysForSelectedBatch">
                </kendo-treeview>
                  Checked keys: {{checkedKeysForSelectedBatch.join(",")}}
               </div>
                <!-- <div class="col-md-8">
                    <div class="example-config">
                        Checked keys: {{checkedKeys.join(",")}}
                    </div>
                    <kendo-treeview
                        [nodes]="data"
                        [children]="children"
                        [hasChildren]="hasChildren"
                        textField="text"
                        kendoTreeViewCheckable
                        [(checkedKeys)]="checkedKeys">
                    </kendo-treeview>
                    <i>Press SPACE to check/uncheck the active node</i>
                </div> -->
              </div>
            </form>
          </div>
        </div>
      </div>
      <div class="col-md-12">
        <div class="card">
          <div class="card-header">
            <h4 class="title">Notification Table</h4>
          </div>
          <div class="card-content">
            <div class="card-content table-responsive">
              <table class="table">
                <thead class="text-danger">
                  <tr>
                    <th>Schedule Date</th>
                    <th>Description</th>
                    <th>Status</th>
                    <th>Sender</th>
                    <th>Receiver</th>
                    <th>Control</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>Dakota Rice</td>
                    <td>Pre- board :-(Bsc.CSIT 1st and 3rd semester) 1st Terminal:- ( Bsc.CSIT 5th semester ) Date First semester
                      Third semester Fifth semester 2074/12/15 IT CA Computer Network 2074/12/16 C Programming OOPS Simulation
                      and modeling 2074/12/18 Digital Logic OS DAA 2074/12/19 Mathematics -1 NM AI 2074/12/20 Physics POM
                      Introduction to cryptography</td>
                    <td>Dakota Rice</td>
                    <td>Niger</td>
                    <td>Oud-Turnhout</td>
                    <td>
                      <button class="btn btn-danger">
                        <i class="fa fa-trash" aria-hidden="true"></i>
                      </button>
                    </td>
                  </tr>
                  <tr>
                    <td>Minerva Hooper</td>
                    <td>Pre- board :-(Bsc.CSIT 1st and 3rd semester) 1st Terminal:- ( Bsc.CSIT 5th semester ) Date First semester
                      Third semester Fifth semester 2074/12/15 IT CA Computer Network 2074/12/16 C Programming OOPS Simulation
                      and modeling 2074/12/18 Digital Logic OS DAA 2074/12/19 Mathematics -1 NM AI 2074/12/20 Physics POM
                      Introduction to cryptography</td>
                    <td>Curaçao</td>
                    <td>Curaçao</td>
                    <td>Sinaai-Waas</td>
                    <td>
                      <button class="btn btn-danger">
                        <i class="fa fa-trash" aria-hidden="true"></i>
                      </button>
                    </td>
                  </tr>
                  <tr>
                    <td>Sage Rodriguez</td>
                    <td>Pre- board :-(Bsc.CSIT 1st and 3rd semester) 1st Terminal:- ( Bsc.CSIT 5th semester ) Date First semester
                      Third semester Fifth semester 2074/12/15 IT CA Computer Network 2074/12/16 C Programming OOPS Simulation
                      and modeling 2074/12/18 Digital Logic OS DAA 2074/12/19 Mathematics -1 NM AI 2074/12/20 Physics POM
                      Introduction to cryptography</td>
                    <td>Curaçao</td>
                    <td>Netherlands</td>
                    <td>Baileux</td>
                    <td>
                      <button class="btn btn-danger">
                        <i class="fa fa-trash" aria-hidden="true"></i>
                      </button>
                    </td>
                  </tr>
                  <tr>
                    <td>Philip Chaney</td>
                    <td>Pre- board :-(Bsc.CSIT 1st and 3rd semester) 1st Terminal:- ( Bsc.CSIT 5th semester ) Date First semester
                      Third semester Fifth semester 2074/12/15 IT CA Computer Network 2074/12/16 C Programming OOPS Simulation
                      and modeling 2074/12/18 Digital Logic OS DAA 2074/12/19 Mathematics -1 NM AI 2074/12/20 Physics POM
                      Introduction to cryptography</td>
                    <td>Curaçao</td>
                    <td>Curaçao</td>
                    <td>Overland Park</td>
                    <td>
                      <button class="btn btn-danger">
                        <i class="fa fa-trash" aria-hidden="true"></i>
                      </button>
                    </td>
                  </tr>
                  <tr>
                    <td>Doris Greene</td>
                    <td>Pre- board :-(Bsc.CSIT 1st and 3rd semester) 1st Terminal:- ( Bsc.CSIT 5th semester ) Date First semester
                      Third semester Fifth semester 2074/12/15 IT CA Computer Network 2074/12/16 C Programming OOPS Simulation
                      and modeling 2074/12/18 Digital Logic OS DAA 2074/12/19 Mathematics -1 NM AI 2074/12/20 Physics POM
                      Introduction to cryptography</td>
                    <td>Curaçao</td>
                    <td>Malawi</td>
                    <td>Feldkirchen in Kärnten</td>
                    <td>
                      <button class="btn btn-danger">
                        <i class="fa fa-trash" aria-hidden="true"></i>
                      </button>
                    </td>
                  </tr>
                  <tr>
                    <td>Mason Porter</td>
                    <td>Pre- board :-(Bsc.CSIT 1st and 3rd semester) 1st Terminal:- ( Bsc.CSIT 5th semester ) Date First semester
                      Third semester Fifth semester 2074/12/15 IT CA Computer Network 2074/12/16 C Programming OOPS Simulation
                      and modeling 2074/12/18 Digital Logic OS DAA 2074/12/19 Mathematics -1 NM AI 2074/12/20 Physics POM
                      Introduction to cryptography</td>
                    <td>Curaçao</td>
                    <td>Curaçao</td>
                    <td>Gloucester</td>
                    <td>
                      <button class="btn btn-danger">
                        <i class="fa fa-trash" aria-hidden="true"></i>
                      </button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>