<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4">
                <div class="card">
                    <div class="card-content">
                        <form [formGroup]="cloneSubject" (ngSubmit)="submitCloneSubject()">
                            <div class="col-md-12">
                                <div class="form-group form-black label-floating is-empty">
                                    <ng-select [items]="facultiesList" bindLabel="name" placeholder="Select Faculty" formControlName="faculty">
                                    </ng-select>
                                </div>
                            </div>
                            <div *ngIf="check">
                                <div class="col-md-12">
                                    <div class="form-group form-black label-floating is-empty">
                                        <ng-select [items]="levelLists" bindLabel="faculties" placeholder="Select Level" formControlName="level">
                                        </ng-select>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group form-black label-floating is-empty">
                                        <ng-select [items]="batches" bindLabel="batch" placeholder="Select Year" formControlName="past_year">
                                        </ng-select>
                                    </div>
                                </div>
                            </div>
                            <div *ngIf="!check">
                                <div class="col-md-12">
                                    <div class="form-group form-black label-floating is-empty">
                                        <ng-select [items]="batches" bindLabel="batch" placeholder="Select Batch" formControlName="past_year">
                                        </ng-select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group form-black label-floating is-empty">
                                    <label class="control-label">Enter Year</label>
                                    <input type="Number" class="form-control" formControlName="year">
                                </div>
                            </div>
                            <div class="col-md-12">
                                <button type="submit" class="btn btn-danger pull-right">Clone Subject</button>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="card">
                    <div class="card-content">
                        <form [formGroup]="storeSubject" (ngSubmit)="submitStoreSubject()">
                            <div class="col-md-12">
                                <div class="form-group form-black label-floating is-empty">
                                    <ng-select [items]="facultiesList" bindLabel="name" placeholder="Select Batch" formControlName="faculty">
                                    </ng-select>

                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group form-black label-floating is-empty">
                                    <ng-select [items]="batchWiseClasses" bindLabel="faculties" placeholder="Select Level" formControlName="level">
                                    </ng-select>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group form-black label-floating is-empty">
                                    <ng-select [items]="batchs" bindLabel="batchname" placeholder="Select Year" formControlName="year">
                                    </ng-select>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group form-black label-floating is-empty">
                                    <label class="control-label">Subject Name</label>
                                    <input type="text" class="form-control" formControlName="subjectName">
                                </div>
                            </div>
                            <div class="col-md-12">
                                <button type="submit" class="btn btn-danger pull-right">add Subject</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-md-8">
                <div class="card">
                    <!-- <div class="card-header" data-background-color="red">
                          <h4 class="title">Edit Profile</h4>
                          <p class="category">Complete your profile</p>
                      </div> -->
                    <div class="card-content">
                        <div class="col-md-12">
                            <mat-tab-group (selectedTabChange)="onLinkClick($event)">
                                <mat-tab *ngFor="let faculty of facultiesList" label={{faculty.name}}>
                                    <mat-tab-group>
                                        <mat-tab *ngFor="let batch of subjectOfParticularBatch.batch" label={{batch.name}}>
                                            <mat-accordion>
                                                <mat-expansion-panel *ngFor="let level of batch.levels">
                                                    <mat-expansion-panel-header>
                                                        <mat-panel-title>
                                                            {{level.name}}
                                                        </mat-panel-title>
                                                    </mat-expansion-panel-header>
                                                    <mat-list>
                                                        <button type="button" rel="tooltip" title="Remove" class="btn btn-danger btn-simple btn-xs" (click)="deleteAllSubject(batch.name,level.level)">
                                                            <i class="material-icons">close</i>
                                                        </button>
                                                        <mat-list-item *ngFor="let subject of level.subjects;let i = index">{{subject.name}}
                                                            <button type="button" rel="tooltip" title="Edit Task" class="btn btn-primary btn-simple btn-xs" (click)="editSubject(batch.name,level.name,subject.id)">
                                                                <i class="material-icons">edit</i>
                                                            </button>
                                                            <button type="button" rel="tooltip" title="Remove" class="btn btn-danger btn-simple btn-xs" (click)="deleteSubject(i,batch.name,level.name,subject.id)">
                                                                <i class="material-icons">close</i>
                                                            </button>
                                                        </mat-list-item>
                                                    </mat-list>
                                                </mat-expansion-panel>
                                            </mat-accordion>
                                        </mat-tab>
                                    </mat-tab-group>
                                </mat-tab>
                            </mat-tab-group>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Edit Subject</h4>
            </div>
            <form [formGroup]="subjectEdit" (ngSubmit)="submitSubjectEdit()">
                <div class="modal-body">
                    <div class="col-md-12">
                        <div class="form-group form-black label-floating is-empty">
                            <input type="text" class="form-control" formControlName="subjectName">
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-danger">Yes</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </form>
        </div>
    </div>
</div>



<div class="modal fade" id="deletemyModal" role="dialog">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Delete Event Modal</h4>
            </div>
            <div class="modal-body">
                <p>Do you really want to Delete?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" (click)="deletedSubjectModel()">Yes</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="deleteinblock" role="dialog">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Delete Event Modal</h4>
                </div>
                <div class="modal-body">
                    <p>Do you really want to Delete?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" (click)="deletedInBlockModel()">Yes</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
