  .example-form {
    min-width: 150px;
    max-width: 1000px;
    width: 100%;
  }
  
  .example-full-width {
    width: 100%;
  }

  .ng-table-scrollcontainer {
    width:950px; 
    overflow-x:scroll;  
    margin-left:5em; 
    overflow-y:visible;
  }

  .ng-table-fixedcolumn {
    position:absolute; 
    width:5em; 
    left:0;
    top:auto;
  }

