<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <mat-tab-group (selectedTabChange)="onLinkClickBatch($event)">
            <mat-tab label="View Attendence">
              <div class="card-header" style="margin-top:15px;">
                <h4 class="title">View Student Wise Attendence</h4>
              </div>
              <div class="card-content">
                <form [formGroup]="attendenceForm" (ngSubmit)="submitAttendenceForm()">
                  <div class="row">
                    <div class="col-md-4">
                      <div class="form-group form-black label-floating is-empty">
                        <ng-select [items]="facultiesLists" bindLabel="name" placeholder="Select Faculty" formControlName="faculty">
                        </ng-select>
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="form-group form-black label-floating is-empty">
                        <ng-select [items]="batchLists" bindLabel="batch" placeholder="Select Batch" formControlName="batch">
                        </ng-select>
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="form-group form-black label-floating is-empty">
                        <ng-select [items]="levelLists" bindLabel="faculties" placeholder="Select Level" formControlName="level">
                        </ng-select>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group form-black label-floating is-empty">
                        <ng-select [items]="studentLists" bindLabel="first_name" placeholder="Select Student" formControlName="student">
                        </ng-select>
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="form-group form-black label-floating is-empty">
                        <label class="control-label"></label>
                        <input type="text" class="form-control" name="daterangeInput" daterangepicker [options]="options" (selected)="selectedDate($event)"
                          (cancelDaterangepicker)="calendarCanceled($event)" (applyDaterangepicker)="calendarApplied($event)"
                        />
                      </div>
                    </div>
                    <div class="col-md-2">
                      <button type="submit" class="btn btn-danger pull-right">Submit</button>
                    </div>
                  </div>
                </form>
              </div>
              <div>

                <div class="ng-table-scrollcontainer" *ngFor="let student of studentWiseLists">
                  <table ng-table="tableParams" class="table">
                    <thead>
                      <tr>
                        <th>Date</th>
                        <th class="text-center" *ngFor="let subject of student.subject_list">{{subject.subject_name}}</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let date of student.date">
                        <td>{{date.current_date}}</td>
                        <td *ngFor="let attendences of date.subjects">
                          <div *ngFor="let attendence of attendences">
                            <div [ngSwitch]="attendence.attendance">
                              <div *ngSwitchCase="1">
                                <i class="fa fa-check-circle fa-2x primary"></i>
                              </div>
                              <div *ngSwitchCase="0">
                                <i class="fa fa-times-circle fa-2x danger"></i>
                              </div>
                              <div *ngSwitchDefault>
                                <i class="fa fa-times-circle fa-2x danger" style="visibility:hidden"></i>
                              </div>
                            </div>
                          </div>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>

              </div>
            </mat-tab>
            <mat-tab label="View All Attendence">
              <div *ngIf="attendenceFlag">
                <mat-tab-group>
                  <mat-tab *ngFor="let x of attendenceLists" label={{x.faculty.name}}>
                    <mat-tab-group>
                      <mat-tab id="mat-table" *ngFor="let y of x.batch" label={{y.batch}}>
                        <div class="col-md-6">
                          <div class="col-md-4">
                            <form [formGroup]="DateGroup">
                              <mat-form-field>
                                <input matInput [matDatepicker]="picker3" placeholder="Today Date" formControlName="Date" [value]="date.value">
                                <mat-datepicker-toggle matSuffix [for]="picker3"></mat-datepicker-toggle>
                                <mat-datepicker #picker3></mat-datepicker>
                              </mat-form-field>
                            </form>
                          </div>
                          <button type="submit" class="btn btn-danger pull-right" (click)="submitDate(y.batch,x.faculty.name)">View Attendence</button>
                        </div>
                        <form [formGroup]="messageCheck" (ngSubmit)="messageSubmit()">
                          <div class="ng-table-scrollcontainer">
                            <table ng-table="tableParams" class="table">
                              <thead>
                                <tr>
                                  <th class="ng-table-fixedcolumn">Contact</th>
                                  <th class="text-center" *ngFor="let subject of y.subject_list">{{subject.subject_name}}</th>
                                </tr>
                              </thead>
                              <tbody>
                                <tr *ngFor="let user of y.students">
                                  <td>
                                    <input type="checkbox" (change)="onChange(user.id,user.parent_contact, $event.target.checked)"> {{user.first_name}} {{user.last_name}}
                                  </td>
                                  <td *ngFor="let att of user.subjects">
                                    <div *ngFor="let z of att;let i = index">

                                      <div *ngIf="i == 0">
                                        <div *ngFor="let g of z;let b = index">
                                          <div *ngIf="b == 0">
                                            <div [ngSwitch]="g.attendance">
                                              <div *ngSwitchCase="1">
                                                <i class="fa fa-check-circle fa-2x primary"></i>
                                              </div>
                                              <div *ngSwitchCase="0">
                                                <i class="fa fa-times-circle fa-2x danger"></i>
                                              </div>
                                              <div *ngSwitchDefault>
                                                <i class="fa fa-times-circle fa-2x danger" style="visibility:hidden"></i>
                                              </div>
                                            </div>
                                            <div [ngSwitch]="g.total_attendance">
                                              <div *ngSwitchCase="">
                                                REG:[ 0
                                              </div>
                                              <div *ngSwitchDefault>
                                                REG: [{{g.total_attendance }}
                                              </div>
                                            </div>
                                          </div>
                                          <div *ngIf="b == 1">
                                            | {{g}} ]
                                          </div>
                                        </div>
                                      </div>

                                      <div *ngIf="i == 1">
                                        <div *ngFor="let g of z;let k = index">
                                          <div *ngIf="k == 0">
                                            <div [ngSwitch]="g.attendance">
                                              <div *ngSwitchCase="1">
                                                <i class="fa fa-check-circle fa-2x primary"></i>
                                              </div>
                                              <div *ngSwitchCase="0">
                                                <i class="fa fa-times-circle fa-2x danger"></i>
                                              </div>
                                              <div *ngSwitchDefault>
                                                <i class="fa fa-times-circle fa-2x danger" style="visibility:hidden"></i>
                                              </div>
                                            </div>
                                            <div [ngSwitch]="g.total_attendance">
                                              <div *ngSwitchCase="">
                                                REP:[ 0
                                              </div>
                                              <div *ngSwitchDefault>
                                                REP: [{{g.total_attendance }}
                                              </div>
                                            </div>
                                          </div>
                                          <div *ngIf="k == 1">
                                            | {{g}} ]
                                          </div>
                                        </div>
                                      </div>

                                      <div *ngIf="i == 2">
                                        <div *ngFor="let g of z;let j = index">
                                          <div *ngIf="j == 0">
                                            <div [ngSwitch]="g.attendance">
                                              <div *ngSwitchCase="1">
                                                <i class="fa fa-check-circle fa-2x primary"></i>
                                              </div>
                                              <div *ngSwitchCase="0">
                                                <i class="fa fa-times-circle fa-2x danger"></i>
                                              </div>
                                              <div *ngSwitchDefault>
                                                <i class="fa fa-times-circle fa-2x danger" style="visibility:hidden"></i>
                                              </div>
                                            </div>
                                            <div [ngSwitch]="g.total_attendance">
                                              <div *ngSwitchCase="">
                                                EXT:[ 0
                                              </div>
                                              <div *ngSwitchDefault>
                                                EXT: [{{g.total_attendance }}
                                              </div>
                                            </div>
                                          </div>
                                          <div *ngIf="j == 1">
                                            | {{g}}]
                                          </div>
                                        </div>
                                      </div>

                                    </div>
                                  </td>
                                </tr>
                              </tbody>
                            </table>
                          </div>
                          <div class="col-md-12">
                            <div class="form-group">
                              <label>Discription</label>
                              <div class="form-group form-black label-floating is-empty">
                                <textarea class="form-control" rows="5" formControlName="discription"></textarea>
                              </div>
                            </div>
                          </div>
                          <div class="col-md-12">
                            <button type="submit" class="btn btn-danger pull-right">View Attendence</button>
                          </div>
                        </form>
                      </mat-tab>
                    </mat-tab-group>
                  </mat-tab>
                </mat-tab-group>
              </div>
              <div *ngIf="!attendenceFlag">
                <div class="ng-table-scrollcontainer" *ngFor="let y of getDayWiseLists">
                  <div class="col-md-6">
                    <div class="col-md-4">
                      <form [formGroup]="DateGroup">
                        <mat-form-field>
                          <input matInput [matDatepicker]="picker3" placeholder="Today Date" formControlName="Date" [value]="date.value">
                          <mat-datepicker-toggle matSuffix [for]="picker3"></mat-datepicker-toggle>
                          <mat-datepicker #picker3></mat-datepicker>
                        </mat-form-field>
                      </form>
                    </div>
                    <button type="submit" class="btn btn-danger pull-right" (click)="dayWiseAttendence()">View Attendence</button>
                  </div>
                  <button type="submit" class="btn btn-primary pull-right" (click)="changeFlag()">View All Attendence</button>
                  <table ng-table="tableParams" class="table">
                    <thead>
                      <tr>
                        <th class="ng-table-fixedcolumn">Contact</th>
                        <th class="text-center" *ngFor="let subject of y.subject_list">{{subject.subject_name}}</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let user of y.students">
                        <td>

                          <mat-checkbox></mat-checkbox>
                          {{user.first_name}} {{user.last_name}}
                        </td>

                        <td *ngFor="let att of user.subjects">
                          <div *ngFor="let z of att;let i = index">
                            <div *ngIf="i == 0">
                              <div *ngFor="let g of z;let b = index">
                                <div *ngIf="b == 0">
                                  <div [ngSwitch]="g.attendance">
                                    <div *ngSwitchCase="1">
                                      <i class="fa fa-check-circle fa-2x primary"></i>
                                    </div>
                                    <div *ngSwitchCase="0">
                                      <i class="fa fa-times-circle fa-2x danger"></i>
                                    </div>
                                    <div *ngSwitchDefault>
                                      <i class="fa fa-times-circle fa-2x danger" style="visibility:hidden"></i>
                                    </div>
                                  </div>
                                  <div [ngSwitch]="g.total_attendance">
                                    <div *ngSwitchCase="">
                                      REG:[ 0
                                    </div>
                                    <div *ngSwitchDefault>
                                      REG: [{{g.total_attendance }}
                                    </div>
                                  </div>
                                </div>
                                <div *ngIf="b == 1">
                                  | {{g}} ]
                                </div>
                              </div>
                            </div>



                            <div *ngIf="i == 1">
                              <div *ngFor="let g of z;let k = index">
                                <div *ngIf="k == 0">
                                  <div [ngSwitch]="g.attendance">
                                    <div *ngSwitchCase="1">
                                      <i class="fa fa-check-circle fa-2x primary"></i>
                                    </div>
                                    <div *ngSwitchCase="0">
                                      <i class="fa fa-times-circle fa-2x danger"></i>
                                    </div>
                                    <div *ngSwitchDefault>
                                      <i class="fa fa-times-circle fa-2x danger" style="visibility:hidden"></i>
                                    </div>
                                  </div>
                                  <div [ngSwitch]="g.total_attendance">
                                    <div *ngSwitchCase="">
                                      REP:[ 0
                                    </div>
                                    <div *ngSwitchDefault>
                                      REP: [{{g.total_attendance }}
                                    </div>
                                  </div>
                                </div>
                                <div *ngIf="k == 1">
                                  | {{g}} ]
                                </div>
                              </div>
                            </div>


                            <div *ngIf="i == 2">
                              <div *ngFor="let g of z;let j = index">
                                <div *ngIf="j == 0">
                                  <div [ngSwitch]="g.attendance">
                                    <div *ngSwitchCase="1">
                                      <i class="fa fa-check-circle fa-2x primary"></i>
                                    </div>
                                    <div *ngSwitchCase="0">
                                      <i class="fa fa-times-circle fa-2x danger"></i>
                                    </div>
                                    <div *ngSwitchDefault>
                                      <i class="fa fa-times-circle fa-2x danger" style="visibility:hidden"></i>
                                    </div>
                                  </div>
                                  <div [ngSwitch]="g.total_attendance">
                                    <div *ngSwitchCase="">
                                      EXT:[ 0
                                    </div>
                                    <div *ngSwitchDefault>
                                      EXT: [{{g.total_attendance }}
                                    </div>
                                  </div>
                                </div>
                                <div *ngIf="j == 1">
                                  | {{g}}]
                                </div>
                              </div>
                            </div>

                          </div>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </mat-tab>
            <mat-tab label="School" (selectedTabChange)="onLinkClickBatch($event)">
              <div *ngIf="attendenceFlagSchool">
                <div class="ng-table-scrollcontainer">
                  <mat-tab-group>
                    <mat-tab id="mat-table" *ngFor="let y of schoolAttendence" label={{y.classes}}>
                      <div class="col-md-12">
                        <div class="row">
                          <div class="col-md-4">
                            <form [formGroup]="DateGroupOfSchool">
                              <mat-form-field>
                                <input matInput [matDatepicker]="picker3" placeholder="Today Date" formControlName="DateSchool" [value]="date.value">
                                <mat-datepicker-toggle matSuffix [for]="picker3"></mat-datepicker-toggle>
                                <mat-datepicker #picker3></mat-datepicker>
                              </mat-form-field>
                            </form>
                          </div>
                          <div class="col-md-2">
                            <button type="submit" class="btn btn-danger pull-right" (click)="dayWiseAttendenceofSchool(y.classes)">View Attendence</button>
                          </div>
                        </div>
                      </div>
                      <table ng-table="tableParams" class="table">
                        <thead>
                          <tr>
                            <th class="ng-table-fixedcolumn">Contact</th>
                            <th class="text-center" *ngFor="let subject of y.batch.subject_list">{{subject.subject_name}}</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let user of y.batch.students">
                            <td>
                              <mat-checkbox></mat-checkbox>
                              {{user.first_name}} {{user.last_name}}
                            </td>
                            <td *ngFor="let att of user.subjects">
                              <div *ngFor="let z of att;let i = index">
                                <div *ngIf="i == 0">
                                  <div *ngFor="let g of z;let b = index">
                                    <div class="row">
                                      <div *ngIf="b == 0">
                                        <!-- {{g.attendance}} -->
                                        <div [ngSwitch]="g.attendance">
                                          <div *ngSwitchCase="1">
                                            <i class="fa fa-check-circle fa-2x primary"></i>
                                          </div>
                                          <div *ngSwitchCase="0">
                                            <i class="fa fa-times-circle fa-2x danger"></i>
                                          </div>
                                          <div *ngSwitchDefault>
                                            <i class="fa fa-times-circle fa-2x danger" style="visibility:hidden"></i>
                                          </div>
                                        </div>
                                        <div [ngSwitch]="g.total_attendance">
                                          <div *ngSwitchCase="">
                                            REG:[ 0
                                          </div>
                                          <div *ngSwitchDefault>
                                            REG: [{{g.total_attendance }}
                                          </div>
                                        </div>
                                      </div>
                                      <div class="lower-attendence" *ngIf="b == 1">
                                        | {{g}} ]
                                      </div>
                                    </div>
                                  </div>
                                </div>

                                <div *ngIf="i == 1">
                                  <div *ngFor="let g of z;let k = index">
                                    <div class="row">

                                      <div *ngIf="k == 0">
                                        <div [ngSwitch]="g.attendance">
                                          <div *ngSwitchCase="1">
                                            <i class="fa fa-check-circle fa-2x primary"></i>
                                          </div>
                                          <div *ngSwitchCase="0">
                                            <i class="fa fa-times-circle fa-2x danger"></i>
                                          </div>
                                          <div *ngSwitchDefault>
                                            <i class="fa fa-times-circle fa-2x danger" style="visibility:hidden"></i>
                                          </div>
                                        </div>
                                        <div [ngSwitch]="g.total_attendance">
                                          <div *ngSwitchCase="">
                                            REP:[ 0
                                          </div>
                                          <div *ngSwitchDefault>
                                            REP: [{{g.total_attendance }}
                                          </div>
                                        </div>
                                      </div>
                                      <div *ngIf="k == 1">
                                        | {{g}} ]
                                      </div>
                                    </div>
                                  </div>
                                </div>

                                <div *ngIf="i == 2">
                                  <div *ngFor="let g of z;let j = index">
                                    <div class="row">
                                      <div *ngIf="j == 0">
                                        <div [ngSwitch]="g.attendance">
                                          <div *ngSwitchCase="1">
                                            <i class="fa fa-check-circle fa-2x primary"></i>
                                          </div>
                                          <div *ngSwitchCase="0">
                                            <i class="fa fa-times-circle fa-2x danger"></i>
                                          </div>
                                          <div *ngSwitchDefault>
                                            <i class="fa fa-times-circle fa-2x danger" style="visibility:hidden"></i>
                                          </div>
                                        </div>
                                        <div [ngSwitch]="g.total_attendance">
                                          <div *ngSwitchCase="">
                                            EXT:[ 0
                                          </div>
                                          <div *ngSwitchDefault>
                                            EXT: [{{g.total_attendance }}
                                          </div>
                                        </div>
                                      </div>
                                      <div *ngIf="j == 1">
                                        | {{g}}]
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </mat-tab>
                  </mat-tab-group>
                </div>
              </div>
              <div *ngIf="!attendenceFlagSchool">
                <!-- <h2>Hello</h2> -->
                <div class="col-md-2" style="float:right;">
                    <button type="submit" class="btn btn-primary pull-right" (click)="changeFlagOfSchool()">View All Attendence</button>
                </div>
                <div class="ng-table-scrollcontainer">
                  <!-- <mat-tab-group>
                    <mat-tab id="mat-table"  label={{y.classes}}> -->
                  <!-- <h2>{{y.classes}}</h2> -->
                  <div *ngFor="let y of dayWiseClassesOfSchool">
                    <div class="col-md-12">
                      <div class="row">
                        <div class="col-md-4">
                          <form [formGroup]="DateGroupOfSchool">
                            <mat-form-field>
                              <input matInput [matDatepicker]="picker3" placeholder="Today Date" formControlName="DateSchool" [value]="date.value">
                              <mat-datepicker-toggle matSuffix [for]="picker3"></mat-datepicker-toggle>
                              <mat-datepicker #picker3></mat-datepicker>
                            </mat-form-field>
                          </form>
                        </div>
                        <div class="col-md-2">
                          <button type="submit" class="btn btn-danger pull-right" (click)="dayWiseAttendenceofSchool()">View Attendence</button>
                        </div>
                      </div>
                    </div>
                    <table ng-table="tableParams" class="table">
                      <thead>
                        <tr>
                          <th class="ng-table-fixedcolumn">Contact</th>
                          <th class="text-center" *ngFor="let subject of y.subject_list">{{subject.subject_name}}</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let user of y.students">
                          <td>
                            <mat-checkbox></mat-checkbox>
                            {{user.first_name}} {{user.last_name}}
                          </td>
                          <td *ngFor="let att of user.subjects">
                            <div *ngFor="let z of att;let i = index">
                              <div *ngIf="i == 0">
                                <div *ngFor="let g of z;let b = index">
                                  <div *ngIf="b == 0">
                                    <div [ngSwitch]="g.attendance">
                                      <div *ngSwitchCase="1">
                                        <i class="fa fa-check-circle fa-2x primary"></i>
                                      </div>
                                      <div *ngSwitchCase="0">
                                        <i class="fa fa-times-circle fa-2x danger"></i>
                                      </div>
                                      <div *ngSwitchDefault>
                                        <i class="fa fa-times-circle fa-2x danger" style="visibility:hidden"></i>
                                      </div>
                                    </div>
                                    <div [ngSwitch]="g.total_attendance">
                                      <div *ngSwitchCase="">
                                        REG:[ 0
                                      </div>
                                      <div *ngSwitchDefault>
                                        REG: [{{g.total_attendance }}
                                      </div>
                                    </div>
                                  </div>
                                  <div *ngIf="b == 1">
                                    | {{g}} ]
                                  </div>
                                </div>
                              </div>


                              <div *ngIf="i == 1">
                                <div *ngFor="let g of z;let k = index">
                                  <div *ngIf="k == 0">
                                    <div [ngSwitch]="g.attendance">
                                      <div *ngSwitchCase="1">
                                        <i class="fa fa-check-circle fa-2x primary"></i>
                                      </div>
                                      <div *ngSwitchCase="0">
                                        <i class="fa fa-times-circle fa-2x danger"></i>
                                      </div>
                                      <div *ngSwitchDefault>
                                        <i class="fa fa-times-circle fa-2x danger" style="visibility:hidden"></i>
                                      </div>
                                    </div>
                                    <div [ngSwitch]="g.total_attendance">
                                      <div *ngSwitchCase="">
                                        REP:[ 0
                                      </div>
                                      <div *ngSwitchDefault>
                                        REP: [{{g.total_attendance }}
                                      </div>
                                    </div>
                                  </div>
                                  <div *ngIf="k == 1">
                                    | {{g}} ]
                                  </div>
                                </div>
                              </div>

                              <div *ngIf="i == 2">
                                <div *ngFor="let g of z;let j = index">
                                  <div *ngIf="j == 0">
                                    <div [ngSwitch]="g.attendance">
                                      <div *ngSwitchCase="1">
                                        <i class="fa fa-check-circle fa-2x primary"></i>
                                      </div>
                                      <div *ngSwitchCase="0">
                                        <i class="fa fa-times-circle fa-2x danger"></i>
                                      </div>
                                      <div *ngSwitchDefault>
                                        <i class="fa fa-times-circle fa-2x danger" style="visibility:hidden"></i>
                                      </div>
                                    </div>
                                    <div [ngSwitch]="g.total_attendance">
                                      <div *ngSwitchCase="">
                                        EXT:[ 0
                                      </div>
                                      <div *ngSwitchDefault>
                                        EXT: [{{g.total_attendance }}
                                      </div>
                                    </div>
                                  </div>
                                  <div *ngIf="j == 1">
                                    | {{g}}]
                                  </div>
                                </div>
                              </div>


                            </div>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                  <!-- </mat-tab>
                  </mat-tab-group> -->
                </div>
              </div>

            </mat-tab>
          </mat-tab-group>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- <pre>{{attendenceLists | json}}</pre> -->