<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="title">Student Registration</h4>
                    </div>
                    <div class="card-content">
                        <form [formGroup]="studentForm" (ngSubmit)="submitStudentForm()">
                            <div class="row">
                                <div class="col-md-6" [ngClass]="{'has-error': studentForm.controls.userName.invalid && studentForm.controls.userName.dirty,
                                'has-success': studentForm.controls.userName.valid && !studentForm.controls.userName.dirty }">
                                    <div class="form-group form-black label-floating is-empty">
                                        <label class="control-label">Username</label>
                                        <input type="text" class="form-control" formControlName="userName">
                                    </div>
                                </div>
                                <div class="col-md-6" [ngClass]="{'has-error': studentForm.controls.email.invalid && studentForm.controls.email.dirty,
                                'has-success': studentForm.controls.email.valid && !studentForm.controls.email.dirty }">
                                    <div class="form-group form-black label-floating is-empty">
                                        <label class="control-label">Email</label>
                                        <input type="email" class="form-control" formControlName="email" [formControl]="email">
                                    </div>
                                    <div *ngIf="emailTest">
                                        <p style="color: red;font-size: 10px;">Email Already Existed!</p>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4" [ngClass]="{'has-error': studentForm.controls.firstName.invalid && studentForm.controls.firstName.dirty,
                                'has-success': studentForm.controls.firstName.valid && !studentForm.controls.firstName.dirty }">
                                    <div class="form-group form-black label-floating is-empty">
                                        <label class="control-label">First Name</label>
                                        <input type="text" class="form-control" formControlName="firstName">
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group form-black label-floating is-empty">
                                        <label class="control-label">Middle Name</label>
                                        <input type="text" class="form-control" formControlName="middleName">
                                    </div>
                                </div>
                                <div class="col-md-4" [ngClass]="{'has-error': studentForm.controls.lastName.invalid && studentForm.controls.lastName.dirty,
                                'has-success': studentForm.controls.lastName.valid && !studentForm.controls.lastName.dirty }">
                                    <div class="form-group form-black label-floating is-empty">
                                        <label class="control-label">Last Name</label>
                                        <input type="text" class="form-control" formControlName="lastName">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6" [ngClass]="{'has-error': studentForm.controls.joinDate.invalid && studentForm.controls.joinDate.dirty,
                                'has-success': studentForm.controls.joinDate.valid && !studentForm.controls.joinDate.dirty }">
                                    <div class="form-group form-black label-floating is-empty">
                                        <mat-form-field class="example-full-width">
                                            <input matInput [matDatepicker]="joinDate" formControlName="joinDate" placeholder="Joining Date">
                                            <mat-datepicker-toggle matSuffix [for]="joinDate">
                                                <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
                                            </mat-datepicker-toggle>
                                            <mat-datepicker #joinDate></mat-datepicker>
                                        </mat-form-field>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group form-black label-floating is-empty">
                                        <mat-radio-group formControlName="gender">
                                            <mat-radio-button value="0">Femaile</mat-radio-button>
                                            <mat-radio-button value="1">Male</mat-radio-button>
                                        </mat-radio-group>
                                    </div>
                                </div>
                            </div>
                            <div class="row" [ngClass]="{'has-error': studentForm.controls.parmanentAddress.invalid && studentForm.controls.parmanentAddress.dirty,
                            'has-success': studentForm.controls.parmanentAddress.valid && !studentForm.controls.parmanentAddress.dirty }">
                                <div class="col-md-6">
                                    <div class="form-group form-black label-floating is-empty">
                                        <label class="control-label">Parmanent Address</label>
                                        <input type="text" class="form-control" formControlName="parmanentAddress">
                                    </div>
                                </div>
                                <div class="col-md-6" [ngClass]="{'has-error': studentForm.controls.currentAddress.invalid && studentForm.controls.currentAddress.dirty,
                                'has-success': studentForm.controls.currentAddress.valid && !studentForm.controls.currentAddress.dirty }">
                                    <div class="form-group form-black label-floating is-empty">
                                        <label class="control-label">Current Address</label>
                                        <input type="text" class="form-control" formControlName="currentAddress">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6" [ngClass]="{'has-error': studentForm.controls.symbolNumber.invalid && studentForm.controls.symbolNumber.dirty,
                                'has-success': studentForm.controls.symbolNumber.valid && !studentForm.controls.symbolNumber.dirty }">
                                    <div class="form-group form-black label-floating is-empty">
                                        <label class="control-label">Symbol Number</label>
                                        <input type="Number" class="form-control" formControlName="symbolNumber">
                                    </div>
                                </div>
                                <div class="col-md-6" [ngClass]="{'has-error': studentForm.controls.registrationNumber.invalid && studentForm.controls.registrationNumber.dirty,
                                'has-success': studentForm.controls.registrationNumber.valid && !studentForm.controls.registrationNumber.dirty }">
                                    <div class="form-group form-black label-floating is-empty">
                                        <label class="control-label">Registration Number</label>
                                        <input type="Number" class="form-control" formControlName="registrationNumber">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6" [ngClass]="{'has-error': studentForm.controls.department.invalid && studentForm.controls.department.dirty,
                                'has-success': studentForm.controls.department.valid && !studentForm.controls.department.dirty }">
                                    <div class="form-group form-black label-floating is-empty">
                                        <ng-select [items]="facultyLists" bindLabel="name" placeholder="Select Faculty" formControlName="department">
                                        </ng-select>
                                    </div>
                                </div>
                                <div *ngIf="check" class="col-md-6">
                                    <div class="col-md-6" [ngClass]="{'has-error': studentForm.controls.batch.invalid && studentForm.controls.batch.dirty,
                                        'has-success': studentForm.controls.batch.valid && !studentForm.controls.batch.dirty }">
                                        <div class="form-group form-black label-floating is-empty">
                                            <ng-select [items]="yearLists" bindLabel="batch" placeholder="Select year" formControlName="year">
                                            </ng-select>
                                        </div>
                                    </div>
                                    <div class="col-md-6" [ngClass]="{'has-error': studentForm.controls.batch.invalid && studentForm.controls.batch.dirty,
                                        'has-success': studentForm.controls.batch.valid && !studentForm.controls.batch.dirty }">
                                        <div class="form-group form-black label-floating is-empty">
                                            <ng-select [items]="classes" bindLabel="faculties" placeholder="Select Class" formControlName="class">
                                            </ng-select>
                                        </div>
                                    </div>
                                </div>
                                <div *ngIf="!check">
                                    <div class="col-md-6" [ngClass]="{'has-error': studentForm.controls.batch.invalid && studentForm.controls.batch.dirty,
                                        'has-success': studentForm.controls.batch.valid && !studentForm.controls.batch.dirty }">
                                        <div class="form-group form-black label-floating is-empty">
                                            <ng-select [items]="batchLists" bindLabel="batch" placeholder="Select Batch" formControlName="batch">
                                            </ng-select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6" [ngClass]="{'has-error': studentForm.controls.mobileNumber.invalid && studentForm.controls.mobileNumber.dirty,
                                'has-success': studentForm.controls.mobileNumber.valid && !studentForm.controls.mobileNumber.dirty }">
                                    <div class="form-group form-black label-floating is-empty">
                                        <label class="control-label">Mobile Number</label>
                                        <input type="Number" class="form-control" formControlName="mobileNumber">
                                    </div>
                                </div>
                                <div class="col-md-6" [ngClass]="{'has-error': studentForm.controls.phoneNumber.invalid && studentForm.controls.phoneNumber.dirty,
                                'has-success': studentForm.controls.phoneNumber.valid && !studentForm.controls.phoneNumber.dirty }">
                                    <div class="form-group form-black label-floating is-empty">
                                        <label class="control-label">Phone Number</label>
                                        <input type="Number" class="form-control" formControlName="phoneNumber">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <input type="file" (change)="fileChangeEvent($event)" />
                                    <div>
                                        <image-cropper [imageChangedEvent]="imageChangedEvent"
                                         [maintainAspectRatio]="true"
                                         [aspectRatio]="4 / 3" 
                                         [resizeToWidth]="128"
                                         format="png"
                                         (imageCropped)="imageCropped($event)"
                                         (imageLoaded)="imageLoaded()"
                                            (loadImageFailed)="loadImageFailed()" 
                                            style="max-height: 33vh"
                                             [style.display]="cropperReady ? null : 'none'"></image-cropper>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group form-black label-floating is-empty">
                                        <mat-radio-group formControlName="parentCheck">
                                            <mat-radio-button value="0">Exiting</mat-radio-button>
                                            <mat-radio-button value="1">New</mat-radio-button>
                                        </mat-radio-group>
                                    </div>
                                </div>
                            </div>
                            <div *ngIf="newParent">
                                <div class="row">
                                    <div class="col-md-4" [ngClass]="{'has-error': studentForm.controls.parentFirstName.invalid && studentForm.controls.parentFirstName.dirty,
                                    'has-success': studentForm.controls.parentFirstName.valid && !studentForm.controls.parentFirstName.dirty }">
                                        <div class="form-group form-black label-floating is-empty">
                                            <label class="control-label">First Name</label>
                                            <input type="text" class="form-control" formControlName="parentFirstName">
                                        </div>
                                    </div>
                                    <div class="col-md-4" [ngClass]="{'has-error': studentForm.controls.parentMiddleName.invalid && studentForm.controls.parentMiddleName.dirty,
                                    'has-success': studentForm.controls.parentMiddleName.valid && !studentForm.controls.parentMiddleName.dirty }">
                                        <div class="form-group form-black label-floating is-empty">
                                            <label class="control-label">Moddle Name</label>
                                            <input type="text" class="form-control" formControlName="parentMiddleName">
                                        </div>
                                    </div>
                                    <div class="col-md-4" [ngClass]="{'has-error': studentForm.controls.parentLastName.invalid && studentForm.controls.parentLastName.dirty,
                                    'has-success': studentForm.controls.parentLastName.valid && !studentForm.controls.parentLastName.dirty }">
                                        <div class="form-group form-black label-floating is-empty">
                                            <label class="control-label">Last Name</label>
                                            <input type="text" class="form-control" formControlName="parentLastName">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4" [ngClass]="{'has-error': studentForm.controls.parentMobile.invalid && studentForm.controls.parentMobile.dirty,
                                    'has-success': studentForm.controls.parentMobile.valid && !studentForm.controls.parentMobile.dirty }">
                                        <div class="form-group form-black label-floating is-empty">
                                            <label class="control-label"> Mobile Number</label>
                                            <input type="Number" class="form-control" formControlName="parentMobile">
                                        </div>
                                    </div>
                                    <div class="col-md-4" [ngClass]="{'has-error': studentForm.controls.parentEmail.invalid && studentForm.controls.parentEmail.dirty,
                                    'has-success': studentForm.controls.parentEmail.valid && !studentForm.controls.parentEmail.dirty }">
                                        <div class="form-group form-black label-floating is-empty">
                                            <label class="control-label">Email</label>
                                            <input type="email" class="form-control" formControlName="parentEmail" [formControl]="parentEmail">
                                        </div>
                                        <div *ngIf="emailparentTest">
                                            <p style="color: red;font-size: 10px;">Email Already Existed!</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div *ngIf="exitingParent">
                                <div class="col-md-6" [ngClass]="{'has-error': studentForm.controls.parent_id.invalid && studentForm.controls.parent_id.dirty,
                                'has-success': studentForm.controls.parent_id.valid && !studentForm.controls.parent_id.dirty }">
                                    <div class="form-group form-black label-floating is-empty">
                                        <ng-select [items]="parentLists" bindLabel="firstName" placeholder="Select Parent" formControlName="parent_id">
                                        </ng-select>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <button type="submit" class="btn btn-danger pull-right">Submit</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
