<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="title">Teacher Registration</h4>
                    </div>
                    <div class="card-content">
                        <form [formGroup]="teacherForm" (ngSubmit)="submitTeacher()">
                            <div class="row">
                                <div class="col-md-3" [ngClass]="{'has-error': teacherForm.controls.username.invalid && teacherForm.controls.username.dirty,
                                'has-success': teacherForm.controls.username.valid && !teacherForm.controls.username.dirty }">
                                    <div class="form-group form-black label-floating is-empty">
                                        <label class="control-label">Username</label>
                                        <input type="text" class="form-control" formControlName="username">
                                    </div>
                                </div>
                                <div class="col-md-3" [ngClass]="{'has-error': teacherForm.controls.email.invalid && teacherForm.controls.email.dirty,
                                'has-success': teacherForm.controls.email.valid && !teacherForm.controls.email.dirty }">
                                    <div class="form-group form-black label-floating is-empty">
                                        <label class="control-label">Email</label>
                                        <input type="email" class="form-control" formControlName="email" [formControl]="email">
                                    </div>
                                    <div *ngIf="emailTest">
                                        <p style="color: red;font-size: 10px;">Email Already Existed!</p>
                                   </div>
                                </div>
                                <div class="col-md-3" [ngClass]="{'has-error': teacherForm.controls.password.invalid && teacherForm.controls.password.dirty,
                                'has-success': teacherForm.controls.password.valid && !teacherForm.controls.password.dirty }">
                                    <div class="form-group form-black label-floating is-empty">
                                        <label class="control-label">Password</label>
                                        <input type="password" class="form-control" formControlName="password">
                                    </div>
                                </div>
                                <div class="col-md-3" [ngClass]="{'has-error': teacherForm.controls.confirmPassword.invalid && teacherForm.controls.confirmPassword.dirty,
                                'has-success': teacherForm.controls.confirmPassword.valid && !teacherForm.controls.confirmPassword.dirty }">
                                    <div class="form-group form-black label-floating is-empty">
                                        <label class="control-label">Confirm Password</label>
                                        <input type="password" class="form-control" formControlName="confirmPassword">
                                    </div>
                                    <div *ngIf="passwordTest">
                                        <p style="color: red;font-size: 10px;">Password did not match!</p>
                                   </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4" [ngClass]="{'has-error': teacherForm.controls.firstName.invalid && teacherForm.controls.firstName.dirty,
                                'has-success': teacherForm.controls.firstName.valid && !teacherForm.controls.firstName.dirty }">
                                    <div class="form-group form-black label-floating is-empty">
                                        <label class="control-label">First Name</label>
                                        <input type="text" class="form-control" formControlName="firstName">
                                    </div>
                                </div>
                                <div class="col-md-4" [ngClass]="{'has-error': teacherForm.controls.middleName.invalid && teacherForm.controls.middleName.dirty,
                                'has-success': teacherForm.controls.middleName.valid && !teacherForm.controls.middleName.dirty }">
                                    <div class="form-group form-black label-floating is-empty">
                                        <label class="control-label">Middle Name</label>
                                        <input type="text" class="form-control" formControlName="middleName">
                                    </div>
                                </div>
                                <div class="col-md-4" [ngClass]="{'has-error': teacherForm.controls.lastName.invalid && teacherForm.controls.lastName.dirty,
                                'has-success': teacherForm.controls.lastName.valid && !teacherForm.controls.lastName.dirty }">
                                    <div class="form-group form-black label-floating is-empty">
                                        <label class="control-label">Last Name</label>
                                        <input type="text" class="form-control" formControlName="lastName">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6" [ngClass]="{'has-error': teacherForm.controls.parentName.invalid && teacherForm.controls.parentName.dirty,
                                'has-success': teacherForm.controls.parentName.valid && !teacherForm.controls.parentName.dirty }">
                                    <div class="form-group form-black label-floating is-empty">
                                        <label class="control-label">Parent Name</label>
                                        <input type="text" class="form-control" formControlName="parentName">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group form-black label-floating is-empty">
                                        <mat-radio-group formControlName="gender">
                                            <mat-radio-button [value]="0">Female</mat-radio-button>
                                            <mat-radio-button [value]="1">Male</mat-radio-button>
                                        </mat-radio-group>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group form-black label-floating is-empty">
                                        <mat-form-field class="example-full-width">
                                            <input matInput [matDatepicker]="joinDate" formControlName="joinDate" placeholder="Joining Date">
                                            <mat-datepicker-toggle matSuffix [for]="joinDate">
                                                <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
                                            </mat-datepicker-toggle>
                                            <mat-datepicker #joinDate></mat-datepicker>
                                        </mat-form-field>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group form-black label-floating is-empty">
                                        <mat-form-field class="example-full-width">
                                            <input matInput [matDatepicker]="leaveDate" formControlName="leaveDate" placeholder="Leaving Date">
                                            <mat-datepicker-toggle matSuffix [for]="leaveDate">
                                                <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
                                            </mat-datepicker-toggle>
                                            <mat-datepicker #leaveDate></mat-datepicker>
                                        </mat-form-field>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group form-black label-floating is-empty">
                                        <ng-select [items]="facultiesLists" bindLabel="name" bindValue="name" [multiple]="true" placeholder="Select Faculty" formControlName="department">
                                        </ng-select>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group form-black label-floating is-empty">
                                        <ng-select [items]="toppingArray" bindLabel="name" bindValue="name" [multiple]="true" placeholder="Select Post" formControlName="post">
                                        </ng-select>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3" [ngClass]="{'has-error': teacherForm.controls.parmanentAddress.invalid && teacherForm.controls.parmanentAddress.dirty,
                                'has-success': teacherForm.controls.parmanentAddress.valid && !teacherForm.controls.parmanentAddress.dirty }">
                                    <div class="form-group form-black label-floating is-empty">
                                        <label class="control-label">Parmanent Address</label>
                                        <input type="text" class="form-control" formControlName="parmanentAddress">
                                    </div>
                                </div>
                                <div class="col-md-3" [ngClass]="{'has-error': teacherForm.controls.currentAddress.invalid && teacherForm.controls.currentAddress.dirty,
                                'has-success': teacherForm.controls.currentAddress.valid && !teacherForm.controls.currentAddress.dirty }">
                                    <div class="form-group form-black label-floating is-empty">
                                        <label class="control-label">Current Address</label>
                                        <input type="text" class="form-control" formControlName="currentAddress">
                                    </div>
                                </div>
                                <div class="col-md-3" [ngClass]="{'has-error': teacherForm.controls.mobileNumber.invalid && teacherForm.controls.mobileNumber.dirty,
                                'has-success': teacherForm.controls.mobileNumber.valid && !teacherForm.controls.mobileNumber.dirty }">
                                    <div class="form-group form-black label-floating is-empty">
                                        <label class="control-label">Mobile Number</label>
                                        <input type="Number" class="form-control" formControlName="mobileNumber">
                                    </div>
                                </div>
                                <div class="col-md-3" [ngClass]="{'has-error': teacherForm.controls.phoneNumber.invalid && teacherForm.controls.phoneNumber.dirty,
                                'has-success': teacherForm.controls.phoneNumber.valid && !teacherForm.controls.phoneNumber.dirty }">
                                    <div class="form-group form-black label-floating is-empty">
                                        <label class="control-label">Phone Number</label>
                                        <input type="Number" class="form-control" formControlName="phoneNumber">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <input type="file" (change)="fileChangeEvent($event)" />
                                    <div>
                                        <image-cropper [imageChangedEvent]="imageChangedEvent" [maintainAspectRatio]="true" [aspectRatio]="4 / 3" [resizeToWidth]="128"
                                            format="png" (imageCropped)="imageCropped($event)" (imageLoaded)="imageLoaded()"
                                            (loadImageFailed)="loadImageFailed()" style="max-height: 33vh" [style.display]="cropperReady ? null : 'none'"></image-cropper>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <button type="submit" class="btn btn-danger pull-right">Submit</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

