<section class="col-md-8">
    <div class="main-content">
        <div class="container-fluid">
            <!-- <div class="row">
                <div class="card">
                    <div class="card-content"> -->
            <div class="tab">
                <a (click)="teacherRegistration()" class="list-group-item" [ngClass]="{'active': active1}">
                    <i class="fa fa-cart-plus" aria-hidden="true"></i> Teacher Registration</a>
                <a (click)="studentRegistration()" class="list-group-item" [ngClass]="{'active': active2}">
                    <i class="fa fa-bug" aria-hidden="true"></i>Student Registration</a>
                <a (click)="guestRegistration()" class="list-group-item" [ngClass]="{'active': active3}">
                    <i class="fa fa-undo" aria-hidden="true"></i>Guest Registration</a>
                <!-- <button class="btn btn-secondary  btn-block" (click)="teacherRegistration()" style="padding-left:10px;">Teacher Registration</button>
                            <button class="btn btn-danger btn-block" (click)="studentRegistration()" style="padding-left:10px;">Student Registration</button>
                            <button class="btn btn-primary  btn-block" (click)="guestRegistration()" style="padding-left:14px;">Guest Registration</button> -->
            </div>
            <!-- </div>
                </div>
            </div> -->
        </div>
    </div>
</section>
<section class="col-md-12" style="margin-top:-60px;">
    <app-student-registration *ngIf="showStudent"></app-student-registration>
    <app-guest-registration *ngIf="showGuest"></app-guest-registration>
    <app-teacher-registration *ngIf="showTeacher"></app-teacher-registration>
</section>







<!-- <div class="main-content">
    <div class="container-fluid">
        <div class="row">
                <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                          <div class="modal-content">
                            <div class="modal-header">
                              <h5 class="modal-title" id="exampleModalLabel">Registration Model</h5>
                              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                              </button>
                            </div>
                                <div class="modal-body">
                                    <div class="row">
                                      <div class="col-md-12">
                                        <div class="col-md-4">
                                            <button class="btn btn-secondary  btn-block" (click)="teacherRegistration()" style="padding-left:10px;">Teacher Registration</button>
                                        </div>
                                        <div class="col-md-4">
                                            <button class="btn btn-danger btn-block" (click)="studentRegistration()"  style="padding-left:10px;">Student Registration</button>
                                        </div>
                                        <div class="col-md-4">
                                            <button class="btn btn-primary  btn-block" (click)="guestRegistration()"  style="padding-left:14px;">Guest Registration</button>
                                        </div>
                                     </div>
                                  </div>
                               </div>
                               <div class="modal-footer">
                                   <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                               </div>
                          </div>
                     </div>
              </div>
        </div>
    </div>
 </div> -->