.animation-transition-general, .sidebar .nav li>div > a, .off-canvas-sidebar .nav li > a {
    -webkit-transition: all 300ms linear;
    transition: all 300ms linear;
}
.sidebar .nav li>div > a, .off-canvas-sidebar .nav li>div > a {
    margin: 10px 15px;
    border-radius: 3px;
    color: #3C4858;
}
.nav > li >div > a:hover, .nav > li> div > a:focus {
    text-decoration: none;
    background-color: #eee;
}
.nav > li> div > a {
    position: relative;
    display: block;
    padding: 10px 15px;
}
a:hover, a:focus {
    color: #89229b;
    text-decoration: none;
}
a:focus {
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
}
a:hover, a:focus {
    color: #23527c;
    text-decoration: underline;
}

.nav li div.active a {
    background-color: #f44336;
    box-shadow: 0 12px 20px -10px rgba(244,67,54,.28), 0 4px 20px 0 rgba(0,0,0,.12), 0 7px 8px -5px rgba(244,67,54,.2);
}
.nav li div.active>a  {
    color: GREEN;
}

.sidebar .nav li div > a {
    transition: all .3s linear;
}
.nav li > div >a {
    margin: 10px 15px;
    border-radius: 3px;
    color: #3c4858;
}
.nav > li > div >a {
    padding: 10px 15px;
}
.nav > li > div >a {
    position: relative;
    display: block;
}
a {
    color: #9c27b0;
}
a {
    color: #337ab7;
    text-decoration: none;
}
a {
    background-color: transparent;
}