<div class="logo">
    <a  class="simple-text">
        <div class="logo-img">
            <img src="/assets/img/angular2-logo-red.png"/>
        </div>
        SMS
    </a>
</div>
<div class="sidebar-wrapper">
    <!-- <form class="navbar-form navbar-right" role="search" *ngIf="isMobileMenu()">
        <div class="form-group form-black is-empty">
            <input type="text" class="form-control" placeholder="Search">
            <span class="material-input"></span>
        </div>
        <button type="submit" class="btn btn-white btn-round btn-just-icon">
            <i class="material-icons">search</i><div class="ripple-container"></div>
        </button>
    </form> -->

    <ul class="nav nav-mobile-menu" *ngIf="isMobileMenu()">
        <li>
            <a href="#pablo" class="dropdown-toggle" data-toggle="dropdown">
                <i class="material-icons">dashboard</i>
                <p class="hidden-lg hidden-md">Dashboard</p>
            </a>
        </li>
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                <i class="material-icons">notifications</i>
                <span class="notification">5</span>
                <p class="hidden-lg hidden-md">Notifications</p>
            </a>
            <ul class="dropdown-menu">
                <li><a href="#">Mike John responded to your email</a></li>
                <li><a href="#">You have 5 new tasks</a></li>
                <li><a href="#">You're now friend with Andrew</a></li>
                <li><a href="#">Another Notification</a></li>
                <li><a href="#">Another One</a></li>
            </ul>
        </li>
        <li>
            <a href="#pablo" class="dropdown-toggle" data-toggle="dropdown">
               <i class="material-icons">person</i>
               <p class="hidden-lg hidden-md">Profile</p>
            </a>
        </li>
    </ul>
<div class="nav-container">
        <ul class="nav">
              <li *ngFor="let menuItem of menuItems;let i =index">
                          <div routerLinkActive="active" *ngIf="menuItem.menus.flag === false"  class="{{menuItem?.menus.class}}">
                                <a href="#test{{i}}"  data-toggle="collapse" aria-expanded="false">
                                       <i class="material-icons">{{menuItem.menus.icon}}</i>
                                       <p>{{menuItem.menus.title}}</p>
                                </a>
                                <div id='test{{i}}' class="collapse sidebar-submenu">
                                   <li  routerLinkActive="active" *ngFor="let submenu of menuItem.menus.submenus" class="{{submenu.class}}">
                                      <a [routerLink]="[submenu.path]">
                                          <i class="material-icons">{{submenu.icon}}</i>
                                          <p class="menu-collapsed">{{submenu.title}}</p>
                                      </a>
                                  </li>
                               </div>
                            </div>
                            <div  routerLinkActive="active" *ngIf="menuItem.menus.flag === true" class="{{menuItem?.menus.class}}">
                               <a [routerLink]="[menuItem.menus.path]" aria-expanded="false">
                                      <i class="material-icons">{{menuItem.menus.icon}}</i>
                                      <p>{{menuItem.menus.title}}</p>
                               </a>
                         </div>
                </li>
           </ul>
     </div>
</div>
